{% load static %}
    <div id="slider-fila">
            <!--CAPITULO FILA-->
            <div class="fila-slider">
                <section>
                    <div>
                        <button></button>
                        <img src="{% static 'img/1.png' %}" alt="Noticia">
                        <div></div>
                    </div>
                    <dl>
                        <dd>Capítulo 1</dd>
                        <dt>Pronombres</dt>
                    </dl>
                </section>
            </div>

            <!--CAPITULO FILA-->
            <div class="fila-slider">
                <section>
                    <div>
                        <button></button>
                        <img src="{% static 'img/2.png' %}" alt="Noticia">
                        <div></div>
                    </div>
                    <dl>
                        <dd>Capítulo 1</dd>
                        <dt>Pronombres</dt>
                    </dl>
                </section>
            </div>

           <!--CAPITULO FILA-->
            <div class="fila-slider">
                <section>
                    <div>
                        <button></button>
                        <img src="{% static 'img/3.png' %}" alt="Noticia">
                        <div></div>
                    </div>
                    <dl>
                        <dd>Capítulo 1</dd>
                        <dt>Pronombres</dt>
                    </dl>
                </section>
            </div>

            <!--CAPITULO FILA-->
            <div class="fila-slider">
                <section>
                    <div>
                        <button></button>
                        <img src="{% static 'img/4.png' %}" alt="Noticia">
                        <div></div>
                    </div>
                    <dl>
                        <dd>Capítulo 1</dd>
                        <dt>Pronombres</dt>
                    </dl>
                </section>
            </div>

            <!--CAPITULO FILA-->
            <div class="fila-slider">
                <section>
                    <div>
                        <button></button>
                        <img src="{% static 'img/1.png' %}" alt="Noticia">
                        <div></div>
                    </div>
                    <dl>
                        <dd>Capítulo 1</dd>
                        <dt>Pronombres</dt>
                    </dl>
                </section>
            </div>

            <!--CAPITULO FILA-->
            <div class="fila-slider">
                <section>
                    <div>
                        <button></button>
                        <img src="{% static 'img/2.png' %}" alt="Noticia">
                        <div></div>
                    </div>
                    <dl>
                        <dd>Capítulo 1</dd>
                        <dt>Pronombres</dt>
                    </dl>
                </section>
            </div>

            <!--CAPITULO FILA-->
            <div class="fila-slider">
                <section>
                    <div>
                        <button></button>
                        <img src="{% static 'img/3.png' %}" alt="Noticia">
                        <div></div>
                    </div>
                    <dl>
                        <dd>Capítulo 1</dd>
                        <dt>Pronombres</dt>
                    </dl>
                </section>
            </div>

            <!--CAPITULO FILA-->
            <div class="fila-slider">
                <section>
                    <div>
                        <button></button>
                        <img src="{% static 'img/4.png' %}" alt="Noticia">
                        <div></div>
                    </div>
                    <dl>
                        <dd>Capítulo 1</dd>
                        <dt>Pronombres</dt>
                    </dl>
                </section>
            </div>

            <div class="fila-slider">
                <section>
                    <div>
                        <button></button>
                        <img src="{% static 'img/1.png' %}" alt="Noticia">
                        <div></div>
                    </div>
                    <dl>
                        <dd>Capítulo 1</dd>
                        <dt>Pronombres</dt>
                    </dl>
                </section>
            </div>

            <!--CAPITULO FILA-->
            <div class="fila-slider">
                <section>
                    <div>
                        <button></button>
                        <img src="{% static 'img/2.png' %}" alt="Noticia">
                        <div></div>
                    </div>
                    <dl>
                        <dd>Capítulo 1</dd>
                        <dt>Pronombres</dt>
                    </dl>
                </section>
            </div>

            <!--CAPITULO FILA-->
            <div class="fila-slider">
                <section>
                    <div>
                        <button></button>
                        <img src="{% static 'img/3.png' %}" alt="Noticia">
                        <div></div>
                    </div>
                    <dl>
                        <dd>Capítulo 1</dd>
                        <dt>Pronombres</dt>
                    </dl>
                </section>
            </div>

            <!--CAPITULO FILA-->
            <div class="fila-slider">
                <section>
                    <div>
                        <button></button>
                        <img src="{% static 'img/4.png' %}" alt="Noticia">
                        <div></div>
                    </div>
                    <dl>
                        <dd>Capítulo 1</dd>
                        <dt>Pronombres</dt>
                    </dl>
                </section>
            </div>

            <!--CAPITULO FILA-->
            <div class="fila-slider">
                <section>
                    <div>
                        <button></button>
                        <img src="{% static 'img/1.png' %}" alt="Noticia">
                        <div></div>
                    </div>
                    <dl>
                        <dd>Capítulo 1</dd>
                        <dt>Pronombres</dt>
                    </dl>
                </section>
            </div>

            <!--CAPITULO FILA-->
            <div class="fila-slider">
                <section>
                    <div>
                        <button></button>
                        <img src="{% static 'img/2.png' %}" alt="Noticia">
                        <div></div>
                    </div>
                    <dl>
                        <dd>Capítulo 1</dd>
                        <dt>Pronombres</dt>
                    </dl>
                </section>
            </div>

            <!--CAPITULO FILA-->
            <div class="fila-slider">
                <section>
                    <div>
                        <button></button>
                        <img src="{% static 'img/3.png' %}" alt="Noticia">
                        <div></div>
                    </div>
                    <dl>
                        <dd>Capítulo 1</dd>
                        <dt>Pronombres</dt>
                    </dl>
                </section>
            </div>

            <!--CAPITULO FILA-->
            <div class="fila-slider">
                <section>
                    <div>
                        <button></button>
                        <img src="{% static 'img/4.png' %}" alt="Noticia">
                        <div></div>
                    </div>
                    <dl>
                        <dd>Capítulo 1</dd>
                        <dt>Pronombres</dt>
                    </dl>
                </section>
            </div>
        </div>

        <button id="flecha-izquierda-slider-fila"></button>
        <button id="flecha-derecha-slider-fila"></button>

