{% load static %}
    <div id="slider-fila-2">
            <!--CAPITULO FILA-->
            {% for capitulo in capitulos_cultura %}

            <div class="fila-slider">
                <section>
                    <div>
                        <button></button>
                        <img src="{% static '/img/' %}{{ capitulo.first_frame }}" alt="Noticia">
                        <div><a href="{% url 'capitulo' capitulo.cap %}"></a></div>
                    </div>
                    <dl>
                        <dd>{{ capitulo.curso }}</dd>
                        <dt>{{ capitulo.nombre }}</dt>
                    </dl>
                </section>
            </div>
            {% endfor %}

        
    </div>

    <button id="flecha-izquierda-slider-fila-2"></button>
    <button id="flecha-derecha-slider-fila-2"></button>
