{% load static %}
    <div id="slider-fila">
            <!--CAPITULO FILA-->
            <div class="fila-slider">
                <section>
                    <div>
                        <button></button>
                        <img src="{% static 'img/1.png' %}" alt="Noticia">
                        <div><a href="{% url 'capitulo' %}">{{ capitulo.nom_cap}}</a></div>
                    </div>
                    <dl>
                        <dd>Introducción a la Lengua Mapuche</dd>
                        <dt>El Mapuzungun</dt>
                    </dl>
                </section>
            </div>

            <!--CAPITULO FILA-->
            <div class="fila-slider">
                <section>
                    <div>
                        <button></button>
                        <img src="{% static 'img/2.png' %}" alt="Noticia">
                        <div><a href="{% url 'capitulo' %}">{{ capitulo.nom_cap}}</a></div>
                    </div>
                    <dl>
                        <dd>Cultura Mapuche</dd>
                        <dt>Roles</dt>
                    </dl>
                </section>
            </div>

           <!--CAPITULO FILA-->
            <div class="fila-slider">
                <section>
                    <div>
                        <button></button>
                        <img src="{% static 'img/3.png' %}" alt="Noticia">
                        <div><a href="{% url 'capitulo' %}">{{ capitulo.nom_cap}}</a></div>
                    </div>
                    <dl>
                        <dd>Introducción a la Lengua Mapuche</dd>
                        <dt>Costumbres</dt>
                    </dl>
                </section>
            </div>

            <!--CAPITULO FILA-->
            <div class="fila-slider">
                <section>
                    <div>
                        <button></button>
                        <img src="{% static 'img/4.png' %}" alt="Noticia">
                        <div><a href="{% url 'capitulo' %}">{{ capitulo.nom_cap}}</a></div>
                    </div>
                    <dl>
                        <dd>Cultura Mapuche</dd>
                        <dt>Seres Mitológicos</dt>
                    </dl>
                </section>
            </div>

            <!--CAPITULO FILA-->
            <div class="fila-slider">
                <section>
                    <div>
                        <button></button>
                        <img src="{% static 'img/1.png' %}" alt="Noticia">
                        <div><a href="{% url 'capitulo' %}">{{ capitulo.nom_cap}}</a></div>
                    </div>
                    <dl>
                        <dd>Introducción a la Lengua Mapuche</dd>
                        <dt>Acciones y Números</dt>
                    </dl>
                </section>
            </div>

            <!--CAPITULO FILA-->
            <div class="fila-slider">
                <section>
                    <div>
                        <button></button>
                        <img src="{% static 'img/2.png' %}" alt="Noticia">
                        <div><a href="{% url 'capitulo' %}">{{ capitulo.nom_cap}}</a></div>
                    </div>
                    <dl>
                        <dd>Cultura Mapuche</dd>
                        <dt>Comidas</dt>
                    </dl>
                </section>
            </div>

            <!--CAPITULO FILA-->
            <div class="fila-slider">
                <section>
                    <div>
                        <button></button>
                        <img src="{% static 'img/3.png' %}" alt="Noticia">
                        <div><a href="{% url 'capitulo' %}">{{ capitulo.nom_cap}}</a></div>
                    </div>
                    <dl>
                        <dd>Introducción a la Lengua Mapuche</dd>
                        <dt>Saludo y Presentación</dt>
                    </dl>
                </section>
            </div>

            <!--CAPITULO FILA-->
            <div class="fila-slider">
                <section>
                    <div>
                        <button></button>
                        <img src="{% static 'img/4.png' %}" alt="Noticia">
                        <div><a href="{% url 'capitulo' %}">{{ capitulo.nom_cap}}</a></div>
                    </div>
                    <dl>
                        <dd>Cultura Mapuche</dd>
                        <dt>Vida Espiritual</dt>
                    </dl>
                </section>
            </div>

            <div class="fila-slider">
                <section>
                    <div>
                        <button></button>
                        <img src="{% static 'img/1.png' %}" alt="Noticia">
                        <div><a href="{% url 'capitulo' %}">{{ capitulo.nom_cap}}</a></div>
                    </div>
                    <dl>
                        <dd>Introducción a la Lengua Mapuche</dd>
                        <dt>Conversación</dt>
                    </dl>
                </section>
            </div>

            <!--CAPITULO FILA-->
            <div class="fila-slider">
                <section>
                    <div>
                        <button></button>
                        <img src="{% static 'img/2.png' %}" alt="Noticia">
                        <div><a href="{% url 'capitulo' %}">{{ capitulo.nom_cap}}</a></div>
                    </div>
                    <dl>
                        <dd>Cultura Mapuche</dd>
                        <dt>Costumbres</dt>
                    </dl>
                </section>
            </div>

            <!--CAPITULO FILA-->
            <div class="fila-slider">
                <section>
                    <div>
                        <button></button>
                        <img src="{% static 'img/3.png' %}" alt="Noticia">
                        <div><a href="{% url 'capitulo' %}">{{ capitulo.nom_cap}}</a></div>
                    </div>
                    <dl>
                        <dd>Introducción a la Lengua Mapuche</dd>
                        <dt>Juegos</dt>
                    </dl>
                </section>
            </div>

            <!--CAPITULO FILA-->
            <div class="fila-slider">
                <section>
                    <div>
                        <button></button>
                        <img src="{% static 'img/4.png' %}" alt="Noticia">
                        <div><a href="{% url 'capitulo' %}">{{ capitulo.nom_cap}}</a></div>
                    </div>
                    <dl>
                        <dd>Cultura Mapuche</dd>
                        <dt>Guardianes</dt>
                    </dl>
                </section>
            </div>

            <!--CAPITULO FILA-->
            <div class="fila-slider">
                <section>
                    <div>
                        <button></button>
                        <img src="{% static 'img/1.png' %}" alt="Noticia">
                        <div><a href="{% url 'capitulo' %}">{{ capitulo.nom_cap}}</a></div>
                    </div>
                    <dl>
                        <dd>Introducción a la Lengua Mapuche</dd>
                        <dt>Instrumentos</dt>
                    </dl>
                </section>
            </div>

            <!--CAPITULO FILA-->
            <div class="fila-slider">
                <section>
                    <div>
                        <button></button>
                        <img src="{% static 'img/2.png' %}" alt="Noticia">
                        <div><a href="{% url 'capitulo' %}">{{ capitulo.nom_cap}}</a></div>
                    </div>
                    <dl>
                        <dd>Cultura Mapuche</dd>
                        <dt>La Machi</dt>
                    </dl>
                </section>
            </div>

            <!--CAPITULO FILA-->
            <div class="fila-slider">
                <section>
                    <div>
                        <button></button>
                        <img src="{% static 'img/3.png' %}" alt="Noticia">
                        <div><a href="{% url 'capitulo' %}">{{ capitulo.nom_cap}}</a></div>
                    </div>
                    <dl>
                        <dd>Introducción a la Lengua Mapuche</dd>
                        <dt>Lonko</dt>
                    </dl>
                </section>
            </div>

            <!--CAPITULO FILA-->
            <div class="fila-slider">
                <section>
                    <div>
                        <button></button>
                        <img src="{% static 'img/4.png' %}" alt="Noticia">
                        <div><a href="{% url 'capitulo' %}">{{ capitulo.nom_cap}}</a></div>
                    </div>
                    <dl>
                        <dd>Cultura Mapuche</dd>
                        <dt>Pronombres</dt>
                    </dl>
                </section>
            </div>
        
    </div>

    <button id="flecha-izquierda-slider-fila"></button>
    <button id="flecha-derecha-slider-fila"></button>

