{% load static %}
    <div id="slider-fila">
            <!--CAPITULO FILA-->
            {% for capitulo in capitulos_lengua %}
            <div class="fila-slider">
                <section>
                    <div>
                        <button></button>
                        <img src="{% static '/img/' %}{{ capitulo.first_frame }}" alt="Noticia">
                        <div><a href="{% url 'capitulo' capitulo.cap %}"></a></div>
                    </div>
                    <dl>
                        {% if capitulo.fecha_lanzamiento and capitulo.etiqueta_promocional == '2' %}
                            <dd class="titulo-promo-slider">{{ capitulo.curso }}</dd>
                            <dd class="etiqueta-promo-slider">
                            ESTRENO EL {{ capitulo.fecha_lanzamiento | date:"d/F/Y" | upper }}
                            </dd>
                            <dt>{{ capitulo.nombre }}</dt>
                        {% elif capitulo.etiqueta_promocional == '2' or capitulo.etiqueta_promocional == '1' %}
                                <dd class="titulo-promo-slider">{{ capitulo.curso }}</dd>
                                <dd class="etiqueta-promo-slider">{{ capitulo.get_etiqueta_promocional_display }}</dd>
                                <dt>{{ capitulo.nombre }}</dt>
                        {% else %}
                            <dd>{{ capitulo.curso }}</dd>
                            <dt>{{ capitulo.nombre }}</dt>
                        {% endif %}
                    </dl>
                </section>
            </div>
            {% endfor %}

        
    </div>

    <button id="flecha-izquierda-slider-fila"></button>
    <button id="flecha-derecha-slider-fila"></button>

