{% load static %}
    


    <div id="slider-fila-curso">
            <!--CAPITULO FILA-->
            {% for capitulo in capitulos %} 
            <div class="fila-slider">
                <section>
                    <div>
                        <button></button>
                        <img src="{% static '/img/' %}{{ capitulo.first_frame }}" alt="Noticia">
                        <div><a href="{% url 'capitulo' capitulo.cap %}"></a></div>
                    </div>
                    <dl>
                        <dd>{{ capitulo.numero }}</dd>
                        <dt>{{ capitulo.nombre}} </dt>
                    </dl>
                </section>
            </div>
            {% endfor %}
    
    </div>

    <button  style="display: none;" id="flecha-izquierda-slider-fila"></button>
    <button  style="display: none;" id="flecha-derecha-slider-fila"></button>

