{% load static %}
<nav class="main-nav">
    {% if user.is_authenticated %}
    <div >
        <button id="amp_on"><img id="amp_off" src="{% static 'icon/amp_on.svg' %}" alt=""></button>


        <div id="btn-perfil">

                <h6>&nbsp&nbsp Hola <b>{{ user.first_name }}</b></h6>
                
        <form class="form-logout" action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button id="deslogin" type="submit"><a  id="letra-azul">Salir</a></button>
        </form>
        <h6>&nbsp|&nbsp</h6>
        <button id="verperfil">
            <p><a id="letra-azul" href="{% url 'perfil' %}">Ver perfil</a></p>
        </button>

        </div>
    </div>

    {% else %}
        
        <a id="iniciarsesion" class="link-nav" href="{% url 'login' %}?next={{ request.path }}"><h6>INICIA SESIÓN</h6><img id="amp_off" src="{% static 'icon/amp_off.svg' %}" alt=""></a>
    {% endif %}

    <button id="btn-menu">
        <ul id="menudesplegabe">
            <li><a class="link-nav" href="{% url 'index' %}">Cursos</a></li>
            <li><a class="link-nav barracolor" href="{% url 'planes' %}">Planes</a> </li>
            <li><a class="link-nav" href="{% url 'contacto' %}">Contacto</a></li>
       <!--<li><a class="link-nav barracolor botonvideo" href="{% url 'index' %}">Preguntas frecuentes <i>PRONTO</i></a></li>--> 
            <li><a class="link-nav barracolor" href="{% url 'nosotros' %}">Nosotros</a></li>
            <li><a class="link-nav" href="{% url 'sugerencias' %}">&iquest;Sugerencias?</a></li>
            <li><a class="link-nav botonvideo" href="{% url 'contacto' %}">&iquest;Necesitas contenido personalizado?</a></li>
        </ul>
    </button>




    <button id="btn-busqueda">
        
    </button>





</nav>