{% load static %}
<nav class="main-nav">
    {% if user.is_authenticated %}
    <div >
        <img id="amp_off" src="{% static 'icon/amp_off.svg' %}" alt="">
        <button>
            <h6>Hola JAVIER</h6><p>ver perfil</p>
        </button>

        <form class="form-logout" action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Salir</button>
        </form>
    </div>

    {% else %}
        
        <a id="iniciarsesion" class="link-nav" href="{% url 'login' %}"><h6>INICIA SESIÓN</h6><img id="amp_off" src="{% static 'icon/amp_off.svg' %}" alt=""></a>
    {% endif %}

    <button class="btn-busqueda">
        Buscar
    </button>


    <ul>
        <li><a class="link-nav" href="{% url 'cursos' %}">Cursos</a></li>
        <li><a class="link-nav barracolor" href="{% url 'index' %}">Planes</a> </li>
        <li><a class="link-nav" href="{% url 'contacto' %}">Contacto</a></li>
        <li><a class="link-nav barracolor" href="{% url 'index' %}">Preguntas frecuentes</a></li>
        <li><a class="link-nav" href="{% url 'index' %}">Sobre nosotros</a></li>
        <li><a class="link-nav barracolor" href="{% url 'index' %}">¿Necesitas un video?</a></li>
    </ul>



</nav>