{% load static %}
<nav class="main-nav">


    <button id="btn-menu">
        <ul id="menudesplegabe">
            <li><a class="link-nav" href="{% url 'cursos' %}">Cursos</a></li>
            <li><a class="link-nav barracolor" href="{% url 'index' %}">Planes</a> </li>
            <li><a class="link-nav" href="{% url 'contacto' %}">Contacto</a></li>
            <li><a class="link-nav barracolor" href="{% url 'index' %}">Preguntas frecuentes</a></li>
            <li><a class="link-nav" href="{% url 'index' %}">Sobre nosotros</a></li>
            <li><a class="link-nav barracolor botonvideo" href="{% url 'index' %}">¿Necesitas un video?</a></li>
        </ul>
    </button>




    <button id="btn-busqueda">
        
    </button>





</nav>