{% load static %}
<nav class="main-nav">


    <button id="btn-menu">
        <ul id="menudesplegabe">
            <li><a class="link-nav" href="{% url 'index' %}">Cursos</a></li>
            <li><a class="link-nav barracolor" href="{% url 'planes' %}">Planes</a> </li>
            <li><a class="link-nav" href="{% url 'contacto' %}">Contacto</a></li>
       <!--<li><a class="link-nav barracolor botonvideo" href="{% url 'index' %}">Preguntas frecuentes <i>PRONTO</i></a></li>--> 
            <li><a class="link-nav barracolor" href="{% url 'nosotros' %}">Nosotros</a></li>
            <li><a class="link-nav" href="{% url 'sugerencias' %}">&iquest;Sugerencias?</a></li>
            <li><a class="link-nav botonvideo" href="{% url 'contacto' %}">&iquest;Necesitas contenido personalizado?</a></li>
        </ul>
    </button>




    <button id="btn-busqueda">
        
    </button>





</nav>