<nav>
    {% if user.is_authenticated %}
    <li>
        <span>Bienvenido, {{ user.first_name }}</span>
    </li>
    <li>
        <form class="form" action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Salir</button>
        </form>
    </li>
    <li>
        <a class="link-nav" href="{% url 'capitulo' %}">Mis cursos</a>
    </li>
    {% else %}
    <li>
        <a class="link-nav" href="{% url 'login' %}">Ingresa</a>
    </li>
    <li>
        <a class="link-nav" href="{% url 'register' %}">Regístrate</a>
    </li>
    {% endif %}
    <li>
        <a class="link-nav" href="{% url 'cursos' %}">Listado cursos</a>
    </li>
</nav>