{% load static %}
<!--------------------------------------SLIDER PRINCIPAL-------------------------------------------------------->
<div id="spotlight">
    <div id="slider-inicial">
        <div>
            <img src="{% static 'img/1.png' %}" alt="Líneas Adicionales">
        </div>

        <div>
            <img src="{% static 'img/2.png' %}" alt="Prepower">
        </div>

        <div>
            <img src="{% static 'img/3.png' %}" alt="Lanzamiento Equipos y Accesorios">
        </div>

        <div>
            <img src="{% static 'img/4.png' %}" alt="Planes Ilimitados Hogar Inalámbrico">
        </div>
    </div>

        <div id="mascara_spotlight"></div>
			<!--DESCRIPCIONES SLIDER INICIAL-->
            <button id="flecha-izquierda-slider-inicial"></button>
    <button id="flecha-derecha-slider-inicial"></button>
			<nav id="slider-inicial-descripciones">
				<dl class="collapsible" id="slider-inicial-descripcion-1">
					<dt>Chaliwún: Saludo</dt>
					<dd>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </dd>
				</dl>
				<dl class="collapsible" id="slider-inicial-descripcion-2">
					<dt>Cultura Mapuche</dt>
					<dd>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </dd>
				</dl>
				<dl class="collapsible" id="slider-inicial-descripcion-3">
					<dt>Números</dt>
					<dd>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </dd>
				</dl>
				<dl class="collapsible" id="slider-inicial-descripcion-4">
					<dt>Seres Mitológicos</dt>
					<dd>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </dd>
				</dl>
			</nav>
            
</div>
