{% load static %}
<!--------------------------------------SLIDER PRINCIPAL-------------------------------------------------------->
<div id="spotlight">
    <div id="slider-inicial">
		{% for curso in cursos %}
        <div>
            <img src="{% static 'img/' %}{{ curso.imagen_portada}}" alt="imagen-{{ forloop.counter }}">
        </div>
		{% endfor %}
    </div>

        <div id="mascara_spotlight"></div>
			<!--DESCRIPCIONES SLIDER INICIAL-->
            <button id="flecha-izquierda-slider-inicial"></button>
    		<button id="flecha-derecha-slider-inicial"></button>
			

			<div id="slider-inicial-nav">
				{% for curso in cursos %}
				<a href="{% url 'cursos' curso.cur %}"><button class="btn-spotlight" id="btn-spotlight{{ forloop.counter }}">VER AHORA</button></a>
				{% endfor %}
				{% for capitulo in capitulos %}
				<a href="{% url 'capitulo' capitulo.cap %}"><button class="btn-spotlight" id="btn-spotlight{{ forloop.counter | add:2 }}">VER AHORA</button></a>
				{% endfor %}
			
			<nav id="slider-inicial-descripciones">
				{% for curso in cursos %}
				<dl class="collapsible" id="slider-inicial-descripcion-{{ forloop.counter }}">
					<dd>Curso</dd>
					<dt>{{ curso.nombre }}</dt>
					<dd>{{ curso.desc_corta }}</dd>
				</dl>
				{% endfor %}
				{% for capitulo in capitulos %}
				{% if forloop.counter < 3 %}
				<dl class="collapsible" id="slider-inicial-descripcion-{{ forloop.counter |add:2}}">
					<dd>Capitulo {{ capitulo.numero }}: {{ capitulo.curso }}</dd>
					<dt>{{ capitulo.nombre }}</dt>
					<dd>{{ capitulo.desc_corta }}</dd>
				</dl>
				{% else %}
				{% endif %}
				{% endfor %}
			</nav>
		</div>
</div>
