<p>
    Estimado Fabián,
    </p>
    <br>
    <p>
    Se ha registrado una nueva suscripción en CreActiva Animaciones. Los detalles son los siguientes:
    </p>
    <br>
    <ul>
        <li>Nombre: {{ form.nombre }} {{ form.apellido }}</li>
        <li>Correo: {{ form.email }}</li>
        <li>Tipo: {{ form.tipo }}</li>
        <li>Monto: ${{ form.monto }}</li>
        <li>Duración: {{ form.duracion }} meses</li>
        <li>Fecha inicio: {{ form.fecha_inicio }}</li>
        <li>Fecha término: {{ form.fecha_termino }}</li>
    </ul>
    <br>
    <br>
    <p>Atentamente,</p>
    <br>
    <br>
    <p>Equipo CreActiva</p>
    