<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Document</title>
</head>
<body>


  <content>
    <h1>CREACTIVA ANIMACIONES</h1>
    <iframe scrolling='no' frameborder='1' src='https://app.screencast.com/OCIsnl2j5VDBj/e' allowfullscreen></iframe>
    <p>hola hola</p>
  </content>

</body>
</html>