.tsc-smartplayer .player-controls {
    background-color: rgb(19, 44, 97);
}

.tsc-smartplayer .video-controls-container{
    overflow: visible;
    opacity: 1;
}

.tsc-smartplayer .progress-bar-control .progress-scrubbar-track .progress-bar-chapter .scrubbar-played-track{
    background-color: rgb(0, 225, 255);
}

.tsc-smartplayer .progress-bar-control .progress-scrubbar-track .progress-bar-chapter .scrubbar-background-track{

}
.tsc-smartplayer .progress-bar-control .progress-scrubbar-track .progress-bar-chapter .scrubbar-loaded-track{
    background-color: rgb(67, 87, 151);

}

.tsc-smartplayer .progress-bar-control .progress-scrubbar-track .progress-bar-chapter .scrubbar-seek-hint-track{
    background-color: rgb(103, 140, 197);
}


.tsc-smartplayer .play-pause-state {
    background-color: rgb(0, 225, 255);
}

.tsc-smartplayer .media-wrapper {
 pointer-events: none;
}