{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'snippets/header_plan.html' %}
{% include 'snippets/fondo_celeste.html' %}



<form id="form-organizacion" class="form form-register" action="{% url 'solicitud-organizacion' %}" method="post">
    <h7>CreActiv@</h7><br><br>
    <h3>NOS COMPLACE QUE QUIERAS SER PARTE:</h3>
    {% csrf_token %}
        <div class="form-mid">
            {{ form.nombre_organizacion }}
        </div>
        <div>
            {{ form.tipo_organizacion }}
        </div>
        <div class="form2">
            {{ form.pais }}
        </div>
        <div class="form2 form-hide" id="div-region">
            {{ form.region }}
        </div>
        <div class="form-hide" id="div-comuna">
            {{ form.comuna }}
        </div>
        <div id="form-check">
            {{ form.cursos.label_tag }}
            {{ form.cursos }}
        </div>


        {{ form.mensaje }}
        <div id="form-org-footer">
            <button type="submit">ENVIAR</button>
        </div>
</form>

    {% include 'snippets/header_volver.html' %}

{% endblock %}

{% block js %}
<script src="{% static 'js/form_organizaciones.js' %}"></script>
{% endblock %}