{% extends 'base.html' %}

{% block content %}
{% include 'snippets/header_plan.html' %}
{% include 'snippets/navbar.html' %}

    <div id="fondo_animado2">
    </div>
    <span id="cuadricula2"></span>


<div class="form-plan">
<h2>SELECCIONA UN PLAN</h2>
<div class="planes-info">
    <p>¿Eres estudiante o perteneces al pueblo mapuche?<br>Escríbenos a contacto@creactivaanimaciones.cl con asunto "Descuento Creactiva" y adjunta tu certificado de alumno regular de tu institución educativa o tu certificado de pertenencia al pueblo mapuche entregado por CONADI. Nosotros te responderemos a la brevedad y habilitaremos tu descuento.</p>
    <button class="btn-plan" id="btn-estandar">Estándar</button>
    <button class="btn-plan" id="btn-descuento">Descuento Creactiva</button>
</div>
<div>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.codigo.label_tag }}
        {{ form.codigo }}
        <button type="submit">VALIDAR</button>
    </form>
</div>

    {% for plan in planes %}
    {% if plan.plan_descuento == True %}
    <a class="plan plan-descuento" style="display: none;" href="{% url 'detalle-plan' plan.id %}">
    {% else %}
    <a class="plan plan-estandar" href="{% url 'detalle-plan' plan.id %}">
    {% endif%}
        <h7>{{ plan.nombre }}</h7>
        <h1>{{ plan.monto_mensual | floatformat:"g" }} CLP</h1>
        {% if plan.duracion == 1 %}
        <h5>por {{ plan.duracion }} mes</h5>
        {% else %}
        <h5>por {{ plan.duracion }} meses</h5>
        {% endif %}
        <ul> 
            <li>{{ plan.descripcion }}</li>
        </ul>
        <h3>Contratar</h3>
    </a>
    {% endfor %}
</div>

    {% include 'snippets/header_volver.html' %}
{% endblock %}