{% extends 'base.html' %}
{% load static %}
{% load formato_valores %}

{% block content %}
{% include 'snippets/header_plan.html' %}
{% include 'snippets/navbar.html' %}

<div id="fondo_animado2"></div>
<span id="cuadricula2"></span>

<div class="form form-register">
    <h7>MUCHAS GRACIAS POR PREFERIRNOS</h7><br><br>
    <h3>ESTOS SON LOS DETALLES DE SU SUSCRIPCIÓN:</h3>
    <p>Tu plan es: {{ tipo }}</p>
    <p>Fecha de inicio: {{ fecha_inicio| date:"d M Y" }}</p>
    <p>Fecha de término: {{ fecha_termino | date:"d M Y" }}</p>
    <p>Te quedan: {{ dias_restantes }} días</p>
    <p>Precio: $ {{ monto | separador_miles }}</p>
    <div id="form-org-footer">
        <a href="{% url 'index' %}">COMENZAR A EXPLORAR</a>
    </div>
</div>

{% endblock %}