{% extends 'base.html' %}
{% load static %}

{% block content %}
        {% include 'snippets/navbar_log.html' %}
        {% include 'snippets/header_volver.html' %}
<div class="form form-login">
    <h3>HOLA</h3>
    <h7>CreActiv@</h7>


    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div>
            <input type="text" name="{{ form.username.name }}" id="username" required placeholder="Correo">
        </div>
        <div>
            <input type="password" name="{{ form.password.name }}" id="password" required placeholder="Contraseña">
        </div>
        {% if form.errors %}
        <div class="alerta_registro" role="alert">
            <strong>Usuario y contraseña no coinciden</strong>
        </div>
    
        {% endif %}
        <p>¿Has olvidado tu contraseña?</p>

        <button type="submit">ENTRAR</button>
    </form>
    <p class="p-boton"><a href="{% url 'register' %}">Crear Cuenta</a></p>

    <p class="p-texto">¿Te facilitaron una cuenta desde tu institución?</p>
    <a href="{% url 'register' %}"><p class="p-boton">Ingresa Aquí</p></a>
</div>

{% endblock %}