{% extends 'base.html' %}
{% load static %}

{% block content %}
        {% include 'snippets/navbar_log.html' %}
        {% include 'snippets/header_volver.html' %}
        <div class="form form-login">
    <h3>Bienvenido:</h3>
    <h7>CreActiv@</h7>

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div>
            <input type="text" name="{{ form.username.name }}" id="username" required placeholder="Correo">
        </div>
        <div>
            <input type="password" name="{{ form.password.name }}" id="password" required placeholder="Contraseña">
        </div>
        <p>¿Hás olvidado tu contraseña?</p>

        <button type="submit">Entrar</button>
    </form>
    <p><a href="{% url 'register' %}">Crear Cuenta</a></p>

    <p>¿Te facilitaron una cuenta desde tu institución?<br><a href="{% url 'register' %}">Ingresa Aquí</a></p>
</div>


{% endblock %}