{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'snippets/navbar.html' %}
<div class="form form-login">
    <h3>Ingresa a tu cuenta:</h3>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div>
            <label for="username">Ingresa tu usuario:</label>
            <input type="text" name="{{ form.username.name }}" id="username" required>
        </div>
        <div>
            <label for="password">Ingresa tu contraseña:</label>
            <input type="password" name="{{ form.password.name }}" id="password" required>
        </div>
        <button type="submit">Ingresar</button>
    </form>
    <p>Si no te has registrado, haz clic <a href="{% url 'register' %}">AQUÍ</a></p>
</div>


{% endblock %}