{% extends 'base.html' %}
{% load static %}

{% block content %}
        {% include 'snippets/navbar_log.html' %}
        {% include 'snippets/header_volver.html' %}
        {% include 'snippets/fondo_azul.html' %}

    <div class="form form-login">
        <h7>Reestablecer contraseña</h7>
        <form action="{% url 'password_reset_confirm' uidb64 token %}" method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">ENVIAR</button>    
        </form>
    </div>
{% endblock %}