{% extends 'base.html' %}
{% load static %}

{% block content %}
        {% include 'snippets/navbar_log.html' %}
        {% include 'snippets/header_volver.html' %}
        {% include 'snippets/fondo_azul.html' %}

    <div class="form form-login">
        <h7>Reestablecer contraseña</h7>
        <form action="{% url 'reset-password' %}" method="post">
            {% csrf_token %}
            <div>
                <p class="p-texto">
                    A continuación, escribe el correo donde quieres que te enviemos el link para reestablecer tu contraseña:
                </p>
                {{ form.email }}
            </div>
            <button type="submit">ENVIAR</button>    
        </form>
    </div>

{% endblock %}