{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h3 class="text-center my-4">Regístrate</h3>
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}

            <div class="row g-3 align-items-center mb-2">
                <div class="col-2 offset-2 mb-1">
                    <label class="form-label" for="nombre">Nombre:</label>
                </div>
                <div class="col-5">
                    <input id="nombre" type="text" class="form-control" name="first_name" required>
                </div>
            </div>

            <div class="row g-3 align-items-center mb-2">
                <div class="col-2 offset-2 mb-1">
                    <label class="form-label" for="apellido">Apellido:</label>
                </div>
                <div class="col-5">
                    <input id="apellido" type="text" class="form-control" name="last_name" required>
                </div>
            </div>

            <div class="row g-3 align-items-center mb-2">
                <div class="col-2 offset-2 mb-1">
                    <label class="form-label" for="email">Email:</label>
                </div>
                <div class="col-5">
                    <input id="email" type="email" class="form-control" name="email" placeholder="sucorreo@sudominio.com" required>
                </div>
            </div>

            <div class="row g-3 align-items-center mb-2">
                <div class="col-2 offset-2 mb-1">
                    <label class="form-label" for="password1">Ingrese contraseña:</label>
                </div>
                <div class="col-5">
                    <input id="password1" type="password" class="form-control" name="password1" required>
                </div>
            </div>

            <div class="row g-3 align-items-center mb-2">
                <div class="col-2 offset-2 mb-1">
                    <label class="form-label" for="password2">Repita contraseña:</label>
                </div>
                <div class="col-5">
                    <input id="password2" type="password" class="form-control" name="password2" required>
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-sm btn-primary my-3">Registrarse</button>
            </div>
        </form>
    </div>
{% endblock %}