{% extends 'base.html' %}

{% block content %}
{% include 'snippets/navbar.html' %}
{% include 'snippets/header_volver.html' %}
    <div class="form form-register">
        <h3>BIENVENID@</h3>
        <h7>CreActiv@</h7><br><br><br>
        <h3>ES UN PLACER RECIBIRTE. CUÉNTANOS SOBRE TI:</h3>
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
    <div class="form-mid">
        <input id="nombre" type="text" name="first_name" required  placeholder="Nombre">
        <input id="apellido" type="text" name="last_name" required  placeholder="Apellido">
