{% load static %}
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Glosario de Mapuzungun</title>
  <link rel="icon" type="image/x-icon" href="{% static 'icon/favicon.ico' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
  <script src="https://code.jquery.com/jquery-1.11.3.min.js" integrity="sha256-7LkWEzqTdpEfELxcZZlS6wAx5Ff13zZ83lYO2/ujj7g=" crossorigin="anonymous"></script>
  <script>
      function admapu() {
        var audio = document.getElementById("admapu");
        audio.play();
      }

      function antu() {
        var audio = document.getElementById("antu");
        audio.play();
      }

      function akucha() {
        var audio = document.getElementById("akucha");
        audio.play();
      }

      function akun() {
        var audio = document.getElementById("akun");
        audio.play();
      }
      function akupeimi() {
        var audio = document.getElementById("akupeimi");
        audio.play();
      }

      function akuleimi() {
        var audio = document.getElementById("akuleimi");
        audio.play();
      }
      function akuaimi() {
        var audio = document.getElementById("akuaimi");
        audio.play();
      }

      function alfir() {
        var audio = document.getElementById("alfir");
        audio.play();
      }

      function alof() {
        var audio = document.getElementById("alof");
        audio.play();
      }

      function amuan() {
        var audio = document.getElementById("amuan");
        audio.play();
      }

      function amuayin() {
        var audio = document.getElementById("amuayin");
        audio.play();
      }

      function amuley() {
        var audio = document.getElementById("amuley");
        audio.play();
      }

      function amuleimi() {
        var audio = document.getElementById("amuleimi");
        audio.play();
      }
      function amun() {
        var audio = document.getElementById("amun");
        audio.play();
      }

      function amupen() {
        var audio = document.getElementById("amupen");
        audio.play();
      }
      function anunge() {
        var audio = document.getElementById("anunge");
        audio.play();
      }

      function are() {
        var audio = document.getElementById("are");
        audio.play();
      }




      function arelen() {
        var audio = document.getElementById("arelen");
        audio.play();
      }

      function arelepeimi() {
        var audio = document.getElementById("arelepeimi");
        audio.play();
      }

      function areleimi() {
        var audio = document.getElementById("areleimi");
        audio.play();
      }

      function areleaimi() {
        var audio = document.getElementById("areleaimi");
        audio.play();
      }
      function aukantun() {
        var audio = document.getElementById("aukantun");
        audio.play();
      }

      function aukantupimun() {
        var audio = document.getElementById("aukantupimun");
        audio.play();
      }
      function aukantuleimun() {
        var audio = document.getElementById("aukantuleimun");
        audio.play();
      }

      function aukantuaimun() {
        var audio = document.getElementById("aukantuaimun");
        audio.play();
      }

      function ayelen() {
        var audio = document.getElementById("ayelen");
        audio.play();
      }

      function ayelepeimu() {
        var audio = document.getElementById("ayelepeimu");
        audio.play();
      }

      function ayeleimu() {
        var audio = document.getElementById("ayeleimu");
        audio.play();
      }
      function ayeleaimu() {
        var audio = document.getElementById("ayeleaimu");
        audio.play();
      }

      function azngeimi() {
        var audio = document.getElementById("azngeimi");
        audio.play();
      }
      function azmapu() {
        var audio = document.getElementById("azmapu");
        audio.play();
      }

      function azucura() {
        var audio = document.getElementById("azucura");
        audio.play();
      }









      function chachay() {
        var audio = document.getElementById("chachay");
        audio.play();
      }
      function chalin() {
        var audio = document.getElementById("chalin");
        audio.play();
      }

      function chaliwun() {
        var audio = document.getElementById("chaliwun");
        audio.play();
      }

      function chaw() {
        var audio = document.getElementById("chaw");
        audio.play();
      }

      function chem() {
        var audio = document.getElementById("chem");
        audio.play();
      }

      function chezugun() {
        var audio = document.getElementById("chezugun");
        audio.play();
      }
      function chinura() {
        var audio = document.getElementById("chinura");
        audio.play();
      }

      function choz() {
        var audio = document.getElementById("choz");
        audio.play();
      }
      function chumleimi() {
        var audio = document.getElementById("chumleimi");
        audio.play();
      }

      function chumun() {
        var audio = document.getElementById("chumun");
        audio.play();
      }



      function dungun() {
        var audio = document.getElementById("dungun");
        audio.play();
      }




      function eimi() {
        var audio = document.getElementById("eimi");
        audio.play();
      }

      function eimu() {
        var audio = document.getElementById("eimu");
        audio.play();
      }

      function eimun() {
        var audio = document.getElementById("eimun");
        audio.play();
      }

      function eluwun() {
        var audio = document.getElementById("eluwun");
        audio.play();
      }








      function femun() {
        var audio = document.getElementById("femun");
        audio.play();
      }

      function femlan() {
        var audio = document.getElementById("femlan");
        audio.play();
      }

      function fewla() {
        var audio = document.getElementById("fewla");
        audio.play();
      }

      function fey() {
        var audio = document.getElementById("fey");
        audio.play();
      }

      function feyengu() {
        var audio = document.getElementById("feyengu");
        audio.play();
      }

      function feyengun() {
        var audio = document.getElementById("feyengun");
        audio.play();
      }

      function feyengutani() {
        var audio = document.getElementById("feyengutani");
        audio.play();
      }

      function feyenguntani() {
        var audio = document.getElementById("feyenguntani");
        audio.play();
      }






      function feyentun() {
        var audio = document.getElementById("feyentun");
        audio.play();
      }

      function feykay() {
        var audio = document.getElementById("feykay");
        audio.play();
      }

      function feytani() {
        var audio = document.getElementById("feytani");
        audio.play();
      }

      function filu() {
        var audio = document.getElementById("filu");
        audio.play();
      }

      function firku() {
        var audio = document.getElementById("firku");
        audio.play();
      }

      function firkumwe() {
        var audio = document.getElementById("firkumwe");
        audio.play();
      }

      function fishku() {
        var audio = document.getElementById("fishku");
        audio.play();
      }

      function futa() {
        var audio = document.getElementById("futa");
        audio.play();
      }





      function inche() {
        var audio = document.getElementById("inche");
        audio.play();
      }

      function inchiw() {
        var audio = document.getElementById("inchiw");
        audio.play();
      }

      function inchin() {
        var audio = document.getElementById("inchin");
        audio.play();
      }









    </script>
</head>

<body>

<content>
	<section id="contenido">
		<h1>GLOSARIO <br>CURSO DE MAPUZUNGUN</h1>
    <p>Selecciona una palabra y escúchala</p>
		<ul>

		<h2>A</h2>

		<li><b type="button" value="PLAY" onclick="admapu()" tabindex=1>admapu:</b> aspectos o características de un territorio, incluye características físicas y modos o formas de organización o tradiciones propias.</li>
		<audio id="admapu" src="{% static 'sonidos/admapu.mp3' %}"></audio>

		<li><b type="button" value="PLAY" onclick="antu()" tabindex=1>antü:</b> día.</li>
		<audio id="antu" src="{% static 'sonidos/antu.mp3' %}"></audio>

		<li><b type="button" value="PLAY" onclick="akucha()" tabindex=1>akucha:</b> aguja.</li>
		<audio id="akucha" src="{% static 'sonidos/akucha.mp3' %}"></audio>

		<li><b type="button" value="PLAY" onclick="akun()" tabindex=1>akun:</b> llegar.</li>
		<audio id="akun" src="{% static 'sonidos/akun.mp3' %}"></audio>

		<li><b type="button" value="PLAY" onclick="akupeimi()" tabindex=1>akupeimi:</b> llegaste.</li>
		<audio id="akupeimi" src="{% static 'sonidos/akupeimi.mp3' %}"></audio>

		<li><b type="button" value="PLAY" onclick="akuleimi()" tabindex=1>akuleimi:</b> estás llegando.</li>
		<audio id="akuleimi" src="{% static 'sonidos/akuleimi.mp3' %}"></audio>

		<li><b type="button" value="PLAY" onclick="akuaimi()" tabindex=1>akuaimi:</b> llegarás.</li>
		<audio id="akuaimi" src="{% static 'sonidos/akuaimi.mp3' %}"></audio>

		<li><b type="button" value="PLAY" onclick="alfir()" tabindex=1>alfir:</b> arverja.</li>
		<audio id="alfir" src="{% static 'sonidos/alfir.mp3' %}"></audio>

		<li><b type="button" value="PLAY" onclick="alof()" tabindex=1>alof:</b> luz, lumbre.</li>
		<audio id="alof" src="{% static 'sonidos/alof.mp3' %}"></audio>

		<li><b type="button" value="PLAY" onclick="amuan()" tabindex=1>amuan:</b> día.</li>
		<audio id="amuan" src="{% static 'sonidos/amuan.mp3' %}"></audio>

		<li><b type="button" value="PLAY" onclick="amuayin()" tabindex=1>amuayin:</b> aguja.</li>
		<audio id="amuayin" src="{% static 'sonidos/amuayin.mp3' %}"></audio>

		<li><b type="button" value="PLAY" onclick="amuley()" tabindex=1>amuley:</b> llegar.</li>
		<audio id="amuley" src="{% static 'sonidos/amuley.mp3' %}"></audio>

		<li><b type="button" value="PLAY" onclick="amuleimi()" tabindex=1>amuleimi:</b> llegaste.</li>
		<audio id="amuleimi" src="{% static 'sonidos/amuleimi.mp3' %}"></audio>

		<li><b type="button" value="PLAY" onclick="amun()" tabindex=1>amun:</b> estás llegando.</li>
		<audio id="amun" src="{% static 'sonidos/amun.mp3' %}"></audio>

		<li><b type="button" value="PLAY" onclick="amupen()" tabindex=1>amupen:</b> llegarás.</li>
		<audio id="amupen" src="{% static 'sonidos/amupen.mp3' %}"></audio>

		<li><b type="button" value="PLAY" onclick="anunge()" tabindex=1>anünge:</b> arverja.</li>
		<audio id="anunge" src="{% static 'sonidos/anunge.mp3' %}"></audio>

		<li><b type="button" value="PLAY" onclick="are()" tabindex=1>are:</b> luz, lumbre.</li>
		<audio id="are" src="{% static 'sonidos/are.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="arelen()" tabindex=1>arelen:</b> tener calor.</li>
    <audio id="arelen" src="{% static 'sonidos/arelen.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="arelepeimi()" tabindex=1>arelepeimi:</b> tenias calor.</li>
    <audio id="arelepeimi" src="{% static 'sonidos/arelepeimi.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="areleimi()" tabindex=1>areleimi:</b> tienes calor.</li>
    <audio id="areleimi" src="{% static 'sonidos/areleimi.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="areleaimi()" tabindex=1>areleaimi:</b> tendrás calor.</li>
    <audio id="areleaimi" src="{% static 'sonidos/areleaimi.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="aukantun()" tabindex=1>aukantun:</b> jugar, juego.</li>
    <audio id="aukantun" src="{% static 'sonidos/aukantun.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="aukantupimun()" tabindex=1>aukantupimün:</b> jugaron.</li>
    <audio id="aukantupimun" src="{% static 'sonidos/aukantupimun.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="aukantuleimun()" tabindex=1>aukantuleimün:</b> están jugando.</li>
    <audio id="aukantuleimun" src="{% static 'sonidos/aukantuleimun.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="aukantuaimun()" tabindex=1>aukantuaimün:</b> jugarán.</li>
    <audio id="aukantuaimun" src="{% static 'sonidos/aukantuaimun.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="ayelen()" tabindex=1>ayelen:</b> estar feliz.</li>
    <audio id="ayelen" src="{% static 'sonidos/ayelen.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="ayelepeimu()" tabindex=1>ayelepeimu:</b> estaban felices.</li>
    <audio id="ayelepeimu" src="{% static 'sonidos/ayelepeimu.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="ayeleimu()" tabindex=1>ayeleimu:</b> están felices.</li>
    <audio id="ayeleimu" src="{% static 'sonidos/ayeleimu.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="ayeleaimu()" tabindex=1>ayeleaimu:</b> estarán felices.</li>
    <audio id="ayeleaimu" src="{% static 'sonidos/ayeleaimu.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="azngeimi()" tabindex=1>azngeimi:</b> eres bonita, eres bonito. </li>
    <audio id="azngeimi" src="{% static 'sonidos/azngeimi.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="azmapu()" tabindex=1>azmapu:</b> aspectos o características de un territorio, incluye características físicas y modos o formas de organización o tradiciones propias.</li>
    <audio id="azmapu" src="{% static 'sonidos/azmapu.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="azucura()" tabindex=1>azucura:</b> azúcar.</li>
    <audio id="azucura" src="{% static 'sonidos/azucura.mp3' %}"></audio>

    <h2>C</h2>

    <li><b type="button" value="PLAY" onclick="chachay()" tabindex=1>chachay:</b> abuelito, forma afectiva de referirse a un hombre.</li>
    <audio id="chachay" src="{% static 'sonidos/chachay.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="chalin()" tabindex=1>chalin:</b> saludarse.</li>
    <audio id="chalin" src="{% static 'sonidos/chalin.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="chaliwun()" tabindex=1>chaliwun:</b> jugarán.</li>
    <audio id="chaliwun" src="{% static 'sonidos/chaliwun.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="chaw()" tabindex=1>chaw:</b> padre, papá.</li>
    <audio id="chaw" src="{% static 'sonidos/chaw.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="chem()" tabindex=1>chem:</b> cosa, cuestión. también se utiliza como pregunta: ¿qué?.</li>
    <audio id="chem" src="{% static 'sonidos/chem.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="chezugun()" tabindex=1>che zugun:</b> el habla de la gente.</li>
    <audio id="chezugun" src="{% static 'sonidos/chezugun.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="chinura()" tabindex=1>chiñura:</b> señora.</li>
    <audio id="chinura" src="{% static 'sonidos/chinura.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="choz()" tabindex=1>choz:</b> amarillo. </li>
    <audio id="choz" src="{% static 'sonidos/choz.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="chumleimi()" tabindex=1>chumleimi:</b> ¿cómo estas?.</li>
    <audio id="chumleimi" src="{% static 'sonidos/chumleimi.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="chumun()" tabindex=1>chumün:</b> hacer, que hacer, hecho. actividades, emociones o circunstancias de las personas o cosas.</li>
    <audio id="chumun" src="{% static 'sonidos/chumun.mp3' %}"></audio>

    <h2>D</h2>

    <li><b type="button" value="PLAY" onclick="dungun()" tabindex=1>dungun:</b> hablar, voz, sonido, noticia.</li>
    <audio id="dungun" src="{% static 'sonidos/dungun.mp3' %}"></audio>

    <h2>E</h2>

    <li><b type="button" value="PLAY" onclick="eimi()" tabindex=1>eimi:</b> tú, usted (personal).</li>
    <audio id="eimi" src="{% static 'sonidos/eimi.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="eimu()" tabindex=1>eimu:</b> ustedes (dos personas).</li>
    <audio id="eimu" src="{% static 'sonidos/eimu.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="eimun()" tabindex=1>eimün:</b> ustedes (mas de dos personas).</li>
    <audio id="eimun" src="{% static 'sonidos/eimun.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="eluwun()" tabindex=1>eluwün:</b> ceremonia mapuche de despedida de un difunto por parte de la comunidad y familia.</li>
    <audio id="eluwun" src="{% static 'sonidos/eluwun.mp3' %}"></audio>

    <h2>F</h2>

    <li><b type="button" value="PLAY" onclick="femun()" tabindex=1>femun:</b> hice.</li>
    <audio id="femun" src="{% static 'sonidos/femun.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="femlan()" tabindex=1>femlan:</b> no lo hice.</li>
    <audio id="femlan" src="{% static 'sonidos/femlan.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="fewla()" tabindex=1>fewla:</b> ahora.</li>
    <audio id="fewla" src="{% static 'sonidos/fewla.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="fey()" tabindex=1>fey:</b> él, ella.</li>
    <audio id="fey" src="{% static 'sonidos/fey.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="feyengu()" tabindex=1>fey engu:</b> ellos o ellas (dos personas).</li>
    <audio id="feyengu" src="{% static 'sonidos/feyengu.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="feyengun()" tabindex=1>fey engün:</b> ellos o ellas (mas de dos personas).</li>
    <audio id="feyengun" src="{% static 'sonidos/feyengun.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="feyengutani()" tabindex=1>fey engu tañi:</b> de ellos, de ellas (dos personas).</li>
    <audio id="feyengutani" src="{% static 'sonidos/feyengutani.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="feyenguntani()" tabindex=1>feyengün tañi:</b> de ellos, de ellas (mas de dos personas).</li>
    <audio id="feyenguntani" src="{% static 'sonidos/feyenguntani.mp3' %}"></audio>    

    <li><b type="button" value="PLAY" onclick="feyentun()" tabindex=1>feyentun:</b> creencia, fe.</li>
    <audio id="feyentun" src="{% static 'sonidos/feyentun.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="feykay()" tabindex=1>feykay:</b> suficiente, nada más.</li>
    <audio id="feykay" src="{% static 'sonidos/feykay.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="feytani()" tabindex=1>fey tañi:</b> de él, de ella.</li>
    <audio id="feytani" src="{% static 'sonidos/feytani.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="filu()" tabindex=1>filu:</b> culebra, serpiente.</li>
    <audio id="filu" src="{% static 'sonidos/filu.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="firku()" tabindex=1>firkü:</b> frío, helado.</li>
    <audio id="firku" src="{% static 'sonidos/firku.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="firkumwe()" tabindex=1>firkümwe:</b> enfriador, refrigerador.</li>
    <audio id="firkumwe" src="{% static 'sonidos/firkumwe.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="fishku()" tabindex=1>fishkü:</b> frío, refrescante.</li>
    <audio id="fishku" src="{% static 'sonidos/fishku.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="futa()" tabindex=1>füta:</b> marido.</li>
    <audio id="futa" src="{% static 'sonidos/futa.mp3' %}"></audio>    

    <h2>I</h2>

    <li><b type="button" value="PLAY" onclick="inche()" tabindex=1>inche:</b> yo.</li>
    <audio id="inche" src="{% static 'sonidos/inche.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="inchiw()" tabindex=1>inchiw:</b> nosotros (dos personas).</li>
    <audio id="inchiw" src="{% static 'sonidos/inchiw.mp3' %}"></audio>

    <li><b type="button" value="PLAY" onclick="inchin()" tabindex=1>inchin:</b> nosotros (mas de dos).</li>
    <audio id="inchin" src="{% static 'sonidos/inchin.mp3' %}"></audio>  





		</ul>
	</section>
	</content>
</body>
</html>