{% extends 'base.html' %}

{% block content %}
{% include 'snippets/navbar.html' %}
{% include 'snippets/header_volver.html' %}
    <div class="form form-register">
        <h7>CreActiv@</h7><br><br><br>
        <h3>CUÉNTANOS... ¿QUÉ NECESITAS?</h3>
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
    <div class="form-mid">
        {{ form.nombre }}
        {{ form.apellido }}
    </div>
        <div>{{ form.email }}</div>
        <div>{{ form.mensaje }}</div>

        <button type="submit">ENVIAR</button>

        </form>
    </div>
{% endblock %}