{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="transicion">
</div>

<div id="contenido-curso1">
    <div id="img-curso-cont">
        <img class="img-curso" src="{% static 'img/' %}{{ curso.imagen_portada }}" alt="fondo-curso">
    </div>
    <div id="mascara_curso"></div>

    <div id="curso-info1">

    
    <h1>{{ curso.nombre }}</h1>
    <ul>
        <!-- número capítulos y duración total -->
        <li><img src="{% static 'icon/capitulos.svg' %}" alt=""><h4>{{ capitulos.count }} Capítulos <i>({{ duracion }}hrs)</i></h4></li>
        <!-- número de recursos adicionales -->
        {% if num_materiales == 0 %}
        {% else %}
        <li><img src="{% static 'icon/recurso.svg' %}" alt=""><h4>{{ num_materiales }} Recursos adicionales</h4></li>
        {% endif %}
        <!-- número de actividades interactivas -->
        <li><img src="{% static 'icon/interactivo.svg' %}" alt=""><h4>{{ actividades }} Actividades interactivas</h4></li>
    </ul>
    <p>{{ curso.desc_corta }}</p>



    <button class="btn-curso" id="btn-curso1"><a href="#">MÁS INFORMACIÓN</a></button>


    {% if user.is_authenticated %}
    {% for capitulo in capitulos %}
    {% if forloop.first %}
    <a href="{% url 'capitulo' capitulo.cap %}"><button class="btn-curso" id="btn-curso2">COMENZAR</button></a>
    {% else %}
    {% endif %}
    {% endfor %}
    {% else %}
    <a href="{% url 'login' %}"><button  class="btn-curso" id="btn-curso2">COMENZAR</button></a>
    {% endif %}

    </div>
    <!-- aquí renderizo cada cap, pero en el snippet -->
    {% include 'snippets/fila_curso.html' %}
</div>

<button id="mas-info" class="brillover" ><img src="{% static 'icon/mas.svg' %}" alt="Más información"></button>




    {% include 'snippets/navbar.html' %}
    {% include 'snippets/header_centro.html' %}
    {% include 'snippets/header_volver.html' %}
{% endblock %}