{% extends 'base.html' %}
{% load static %}
{% block content %}



<div id="contenido-curso1">
    <div id="img-curso-cont">
        <img class="img-curso" src="{% static 'img/' %}{{ curso.imagen_portada }}" alt="fondo-curso">
    </div>
    <div id="mascara_curso"></div>

    <div id="curso-info1">

    
    <h1>{{ curso.nombre }}</h1>
    <ul>
        <!-- número capítulos y duración total -->
        <li><img src="{% static 'icon/capitulos.svg' %}" alt=""><h4>{{ capitulos.count }} Capítulos <i>({{ duracion }}hrs)</i></h4></li>
        <!-- número de recursos adicionales -->
        {% if num_materiales == 0 %}
        {% else %}
        <li><img src="{% static 'icon/recurso.svg' %}" alt=""><h4>{{ num_materiales }} Recursos adicionales</h4></li>
        {% endif %}
        <!-- número de actividades interactivas -->
        <li><img src="{% static 'icon/interactivo.svg' %}" alt=""><h4>{{ actividades }} Actividades interactivas</h4></li>
    </ul>
    <p>{{ curso.desc_corta }}</p>


    <div id="botonera">
    <a href="#"><button class="btn-curso" id="btn-curso1">MÁS INFORMACIÓN</button></a>

<!-- AQUÍ HACER EL FILTRO IF USER.PERFIL.CODIGO[0] == '1' -->
    {% if user.is_authenticated %}
    {% for capitulo in capitulos %}
    {% if forloop.first %}
    <a href="{% url 'capitulo' capitulo.cap %}"><button class="btn-curso" id="btn-curso2">COMENZAR</button></a>
    {% else %}
    {% endif %}
    {% endfor %}
    {% else %}
    <a href="{% url 'trailer' curso.cur %}"><button  class="btn-curso" id="btn-curso2">COMENZAR</button></a>
    {% endif %}
    </div>
        <!-- aquí renderizo cada cap, pero en el snippet -->
        {% include 'snippets/fila_curso.html' %}
    </div>

</div>

<button id="mas-info" class="brillover" ><img src="{% static 'icon/mas.svg' %}" alt="Más información"></button>

<article id="info-cap-full" class="info-cur">
    <section id="info-curso">
        <aside id="info-cur-info"> 
            <h5>Cultura | Idiomas</h5>
            <h8>{{ curso.nombre }}</h8>
            <ul id="listado-curso">
                <!-- número capítulos y duración total -->
                <li><img src="{% static 'icon/capitulos.svg' %}" alt=""><h4>{{ capitulos.count }} Capítulos <i>({{ duracion }}hrs)</i></h4></li>
                <!-- número de recursos adicionales -->
                {% if num_materiales == 0 %}
                {% else %}
                <li><img src="{% static 'icon/recurso.svg' %}" alt=""><h4>{{ num_materiales }} Recursos adicionales</h4></li>
                {% endif %}
                <!-- número de actividades interactivas -->
                <li><img src="{% static 'icon/interactivo.svg' %}" alt=""><h4>{{ actividades }} Actividades interactivas</h4></li>
                <li><img src="{% static 'icon/parlante.svg' %}" alt=""><h4>Español, Mapuzungun</h4></li>
                <li><img src="{% static 'icon/caption.svg' %}" alt=""><h4>Español</h4></li>
            </ul>
            <h4 id="cur-desc-corta">{{ curso.desc_corta }}</h4>
            <p>{{ curso.desc_larga }}</p>


            <nav class="botones-cur">
                <a href="" target="_blank"><button><img src="{% static 'icon/share.svg' %}" alt="Compartir"><h1>COMPARTIR</h1></button></a>
                <a id="add-favoritos"><button><img class="img-x2" src="{% static 'icon/fav-off.svg' %}" alt="Compartir"><h1>AÑADIR A FAVORITOS</h1></button></a>
            </nav>

        </aside>
        <aside id="info-cur-menu">

            <aside id="cur-cap">
                <div>
                    {% for capitulo in capitulos %}
                    <article class="boton-desplegable">
                        <h4 class="boton-ra{{ capitulo.numero }}">Capítulo {{ capitulo.numero }}: {{ capitulo.nombre }}<span><button></button><button class="mas"></button></span></h4>
                        <aside class="lista-ra{{ capitulo.numero }}">

                            <dl>
                                {% for contenido in capitulo.contenidos %}
                                <dd>· {{ contenido }}.</dd>
                                {% endfor %}
                            </dl>
                        </aside>
                    </article>
                    {% endfor %}

                </div>
            </aside>

        </aside>

    </section>
</article>

    {% include 'snippets/bannerback.html' %}
    {% include 'snippets/navbar.html' %}
    {% include 'snippets/header_centro.html' %}
    {% include 'snippets/header_volver.html' %}
{% endblock %}