{% extends 'base.html' %}

{% block content %}
{% include 'snippets/header_plan.html' %}

    <div id="fondo_animado2">
    </div>
    <span id="cuadricula2"></span>

<div class="form-plan">
<h2>DETALLE</h2>
    <a class="plan" href="">
        <h7>{{ plan.nombre }}</h7>
        <h1>{{ plan.monto }} CLP</h1>
        <h5>por mes : {{ plan.duracion }}</h5>
        <ul> 
            <li>Acceso a todo el <br>contenido educativo.</li>
            <li>Acceso a todo el material complementario.</li>
            <li>Soporte 24/7</li>
        </ul>
        <h3>Pagar</h3>
    </a>



</div>

    {% include 'snippets/header_volver.html' %}
{% endblock %}