{% extends 'base.html' %}

{% block content %}
    {% include 'snippets/navbar.html' %}

<h1>SELECCIONA UN TIPO DE USUARIO</h1>
<div class="form-register">
    <div>
        <a href="{% url 'plan-individual' %}">
            <h2>INDIVIDUAL</h2>
            <img src="" alt="icon-individual">
        </a>
    </div>
    <div>
        <a href="{% url 'plan-organizacion' %}">
            <h2>ORGANIZACIÓN</h2>
            <img src="" alt="icon-organizacion">
        </a>
    </div>
</div>

    {% include 'snippets/header_volver.html' %}
{% endblock %}