{% extends 'base.html' %}

{% block content %}
{% include 'snippets/header_plan.html' %}

    <div id="fondo_animado2">
    </div>
    <span id="cuadricula2"></span>

<div class="form-register">
<h2>SELECCIONA UN PLAN</h2>
    <div>
        <a href="">
            <h2>MENSUAL</h2>
        </a>
    </div>
    <div>
        <a href="">
            <h2>SEMESTRAL</h2>
        </a>
    </div>
    <div>
        <a href="">
            <h2>ANUAL</h2>
        </a>
    </div>
</div>

    {% include 'snippets/header_volver.html' %}
{% endblock %}