
body{
    background-color: rgb(9, 47, 116);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;

}

content{
    margin: 0 auto;
    width: 1280px;
    display: block;
}

h1{
    font-size: 60px;
    text-align: center;
}

p{
    font-style: italic;
    font-size: 20px;
}


iframe{
    width: 1280px; 
    height: 720px;
    border:0;
}

