{% extends 'base.html' %}
{% load static %}
{% block head %}
<!-- AQUÍ LOS HEADS DE ESTE TEMPLATE -->
<meta property="og:locale" content="es_ES" />
<meta property="og:title" content="Creactiva Animaciones" />
<meta property="og:type" content="website" />
<meta property="og:URL" content="https://www.creactivaanimaciones.cl" />
<meta property="og:image" content="{% static 'icon/index_portada.jpg' %}" />
<meta property="og:description" content="Más que una plataforma de cursos y animaciones interactivas; Un espacio donde cada idea puede cobrar vida y cada reflexión tiene el potencial de transformar el mundo." />
{% endblock %}

    {% block content %}
        {% include 'snippets/navbar.html' %}
        {% include 'snippets/slider-main.html' %}
        {% include 'snippets/fondo_azul.html' %}
        <div id="buscador" style="display: none;">

            <input id="busqueda" type="text" name="mensaje" required  placeholder="¿Qué te gustaría aprender hoy?">

            <ul id="categorias">
                <li class="categoria1">Medio Ambiente</li>
                <li class="categoria1">Pueblos Originarios</li>
                <li class="categoria1">Sustentablidad</li>
                <li class="categoria1">Artes</li>
                <li class="categoria1">Humanidades</li>
            </ul>

        </div>
        
        {% include 'snippets/fila.html' %}
        {% include 'snippets/header_index.html' %}
        {% include 'snippets/bannerback.html' %}


    {% endblock %}