{% extends 'base.html' %}

{% block content %}
{% include 'snippets/navbar.html' %}
{% include 'snippets/header_volver.html' %}
{% include 'snippets/fondo_azul.html' %}
    <div class="form form-register" id="form-sugerencias">
        <h7>CreActiv@</h7><br><br><br>
        <h3>¿CÓMO HA SIDO TU EXPERIENCIA CON NOSOTROS?</h3>
        <form action="{% url 'sugerencias' %}" method="post">
            {% csrf_token %}
    <div class="form-mid">
        {{ form.nombre }}
        {{ form.apellido }}
    </div>
        <div>{{ form.email }}</div>
        <div id="textcontacto">{{ form.mensaje }}</div>

        <button type="submit">ENVIAR</button>

        </form>
    </div>
{% endblock %}