@font-face {
  font-family: cabin;
  src: url(fonts/CabinSketch-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: cabin;
  src: url(fonts/CabinSketch-Regular.ttf);
  font-weight: bold;
}


@font-face {
  font-family: alpha;
  src: url(fonts/alpha_echo.ttf);
  font-weight: normal;
}

@font-face {
  font-family: bahiana;
  src: url(fonts/Bahiana-Regular.otf);
  font-weight: normal;
}

html, h1, ul, li, p{
	margin:0 auto;
	padding: 0;

}

body{
	background-image: url('/static/img/glosario_fondo.jpg');
	background-size: 1000px auto;
  border:none;
	margin:0 auto;
	padding: 0;

}


#contenido{
  background-size: auto 30% ;
	margin:0 auto;
	padding:45px 40px 150px 20px;
	opacity:0.975;


}

img{
	position: fixed;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	width: 120%;
	mix-blend-mode: multiply;
}

ul{
	padding: 0px 50px 0px 30px;
}

h1{
	font-family: alpha;
	font-size: 75px;
	font-weight: normal;
	text-align: center;
	margin:0px 0px 0px 0px;
	line-height: 1em;

}

p{
	font-family: cabin;
	font-size: 30px;
	font-weight: normal;
	text-align: center;
	margin:20px 0px 10px 0px;
	line-height: 1em;
	/* animation: ; */
	color:#009504;
	text-shadow: 0px 0px 10px #FFFC00;

}


h3{
		font-family: bahiana;
	font-size: 50px;
	font-weight: normal;
	text-align: center;
	margin:0px 0px 0px 0px;
	line-height: 1em;
}

h2{
	color: #512319;
	list-style: none;
	display: table;
	font-size:70px;
	font-family: cabin;
   -webkit-text-fill-color: #512319;
   -webkit-text-stroke-width: .3px;
   -webkit-text-stroke-color: #512319;
	margin:0px 0px 0px 0px;
	pointer-events: none;

}


.no-select, h2{
		  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


li{
	color: #512319;
	list-style: none;
	display: table;
	font-size:30px;
	font-family: cabin;
   -webkit-text-fill-color: #512319;

   -webkit-text-stroke-color: #512319;
	margin:0px 0px 10px 0px;
    -webkit-tap-highlight-color: transparent;

}

b{
	transition: all .2s ease-in-out;
	font-size:40px;
   -webkit-text-stroke-width: .3px;
	cursor: pointer;
      text-transform: capitalize;
  font-variant: small-caps;

}

b:hover{
   -webkit-text-stroke-width: .5px;
}


b:active{
	color:#FFFC00;
	text-shadow: 0px 0px 20px #FFFC00;
   -webkit-text-fill-color: #FFFC00;
   -webkit-text-stroke-color: #FFFC00;
}

b:focus{
	color:#FFFC00;
	text-shadow: 0px 0px 20px #FFFC00;
   -webkit-text-fill-color: #FFFC00;
   -webkit-text-stroke-color: #FFFC00;
}

p{

}

::-moz-selection { /* Code for Firefox */
  background: rgba(256, 256, 256, .5);
}

::selection {
  background: rgba(256, 256, 256, .25);
}

@media (max-width: 1080px) {



ul {
    padding: 0px 1vw 0px 1vw;
}

h1{
	font-size:12vw;

}

h2{
	font-size:14vw;

}
p{
    	font-size:5vw;
}

h3{
	font-size:7vw;

}

li{
	font-size:4.5vw;
}

b{
	font-size:7vw;

}
}