
/*-----------TIPOGRAFIAS----------------------------------------------------------------------*/
@font-face {
    font-family: latolight;
    src: url(fonts/Lato-Light.ttf);
    font-style:normal;
}

@font-face {
    font-family: latolight;
    src: url(fonts/Lato-LightItalic.ttf);
    font-style:italic;
}

@font-face {
    font-family: latoregular;
    src: url(fonts/Lato-Regular.ttf);
    font-style:normal;
}

@font-face {
    font-family: latoregular;
    src: url(fonts/Lato-Italic.ttf);
    font-style:italic;
}

@font-face {
    font-family: latomedium;
    src: url(fonts/Lato-Medium.ttf);
    font-style:normal;
}

@font-face {
    font-family: latomedium;
    src: url(fonts/Lato-MediumItalic.ttf);
    font-style:italic;
}

@font-face {
    font-family: latobold;
    src: url(fonts/Lato-Bold.ttf);
    font-style:normal;
}

@font-face {
    font-family: latobold;
    src: url(fonts/Lato-BoldItalic.ttf);
    font-style:italic;
}

@font-face {
    font-family: latoblack;
    src: url(fonts/Lato-Black.ttf);
    font-style:normal;
}

@font-face {
    font-family: latoblack;
    src: url(fonts/Lato-BlackItalic.ttf);
    font-style:italic;
}

@font-face {
    font-family: latoheavy;
    src: url(fonts/Lato-Heavy.ttf);
    font-style:normal;
}

@font-face {
    font-family: latoheavy;
    src: url(fonts/Lato-HeavyItalic.ttf);
    font-style:italic;
}



@font-face {
    font-family: FSJoey;
    src: url(fonts/FS-Joey-Bold.ttf);
    font-style:normal;
}



/*-----------LIMPIEZA DE CSS----------------------------------------------------------------------*/
html, body, h1, h2, dl, h3, h4, h5, h6, p, ol, ul, button, pre, code, address, variable, fieldset, blockquote {
    padding: 0;
    margin: 0;
    font-weight: normal;
    /* overflow-x:hidden; */
    font-family:'latoregular', sans-serif;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    color:#fff;
    user-select:none;
    
}


html.collapsed{
    overflow:hidden;
    -webkit-overflow-scrolling: auto;
    height:100%;
}

body {
    padding: 0;
    margin: 0;
    height:100%;
    background-color: #00224a;

}


dl, dt, dd {
    font-size:initial;

}

::selection {
    text-shadow:none;
    background:none;
}

:focus {
    outline: none;

}

input::selection, textarea::selection, b::selection, p::selection, ul::selection, li::selection, dd::selection, dt::selection, dl::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection {
    text-shadow:none;
    background:#1787e9;
    color:#fff;
}

a {
    color: inherit;
    text-decoration: inherit;
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
}

::-webkit-input-placeholder {
    opacity: 1;
    -webkit-transition: opacity .3s;
    transition: opacity .5s;
}

:-moz-placeholder {
    opacity: 1;
    -moz-transition: opacity .3s;
    transition: opacity .5s;
}

::-moz-placeholder {
    opacity: 1;
    -moz-transition: opacity .3s;
    transition: opacity .5s;
}

:-ms-input-placeholder {
    opacity: 1;
    -ms-transition: opacity .3s;
    transition: opacity .5s;
}

::placeholder {
    opacity: 1;
    transition: opacity .3s;
}

*:focus::-webkit-input-placeholder {
    opacity: 0;
}

*:focus:-moz-placeholder {
    opacity: 0;
}

*:focus::-moz-placeholder {
    opacity: 0;
}

*:focus:-ms-input-placeholder {
    opacity: 0;
}

*:focus::placeholder {
    opacity: 0;
}


/*------------HEADER--------------------------------------------------*/


#logo{
    position: fixed;
    left:50px;
    top:25px;
    width:150px;
    cursor: pointer;
    z-index:3;
}

#logo_centro{
    position: fixed;
    left:50%;
    translate: -50% 0;
    top:25px;
    z-index:3;
    width:150px;
}


#logo_abajo{
    position: fixed;
    right: 90px;
    bottom: 80px;
    width: 270px;
    cursor: pointer;
    z-index: 1;
    opacity: 1;
    -webkit-transition:all 1s, bottom .75s;
    pointer-events: none;
}

#logo_abajo.collapsed{
    width: 160px;
    right: calc(50% - 80px);
    bottom: calc(100vh  - 80px);
}

#logo_abajo.collapsed2{
    opacity: 0;
    
}


#logo_capitulo{
    position: fixed;
    width: 160px;
    right: calc(50% - 80px);
    bottom: calc(100vh  - 80px);
    cursor: pointer;
    z-index: 2;
    opacity: 1;
    -webkit-transition:all .5s, right .75s;
    opacity: 0;
    display: none;
    pointer-events: none;
}

#logo_capitulo.collapsed{
    display: block;
}

#logo_capitulo.collapsed2{
    pointer-events: inherit;
    opacity: 1;
}



h1{
    color:#fff;
    text-align: center;
}

h6{
    font-size: 14px;
    letter-spacing: .5px;
    font-family: latoregular;
}



h7{
    font-family: FSJoey;
    font-size:50px;
    letter-spacing: 2px;
    -webkit-filter: drop-shadow( 0px 0px 5px rgba(123, 255, 248, 1));
    filter: drop-shadow( 0px 0px 5px rgba(123, 255, 248, 1));
}

i{
    font-style: normal;
    color:#57DEFF;
}

h8{
    font-size:40px;
    font-family: latoblack;
    text-transform: uppercase;
    line-height: 40px;
}

p{
    font-size: 13px;
}

/*-----------PRINCIPAL--------------------------------------------------*/
#spotlight {
    width:100%;
    height:calc(100vh - 200px);
    position:fixed;
    top:0%;
    transition: top .5s;
}

#spotlight.collapsed{
    top:calc(-100vh + 280px);
    cursor: pointer;

}

/*-----------SLIDER INICIAL--------------------------------------------------*/
#mascara_spotlight{
    top:0px;
    background-image:url(../img/mascara_spotlight.png);
    background-size: 100% 101%;
    background-position: 0px -1px;
    background-blend-mode: multiply;
    mix-blend-mode: multiply;
    width:100%;
    height:calc(100vh - 200px);
    position: absolute;
}

#slider-inicial {
    width:100%;
    height:calc(100vh - 200px);

}

#slider-inicial div {
    width:100%;
    height:calc(100vh - 200px);
    text-align:center;
    font-size:100px;
}

#slider-inicial div img {
    position: absolute;
    width:100%;
    top:50%;
    translate:0% -50%;

}

#flecha-izquierda-slider-inicial {
    background-color: rgba(256, 256, 256, 0.1);
    transition: background-color 0.1s ease-in-out;
    border-radius: 50%;
    cursor: pointer;
    left: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-size: 100%;
    background-image: url(../icon/flecha-slider-inicial-d.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    border: none;
    height: 100%;
    outline: none;
    opacity: 0;
}



#flecha-derecha-slider-inicial {
    background-color: rgba(256, 256, 256, 0.1);
    transition: background-color 0.1s ease-in-out;
    border-radius: 50%;
    cursor: pointer;
    right: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-size: 100%;
    background-image: url(../icon/flecha-slider-inicial-d.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    border: none;
    height: 100%;
    outline: none;
    opacity: 0;
    
}

#flecha-izquierda-slider-inicial:hover {
    background-color:rgba(256, 256, 256, 0.5);
}

#flecha-derecha-slider-inicial:hover {
    background-color:rgba(256, 256, 256, 0.5);
}

#slider-inicial-nav{
    width:80%;
    margin:0px auto;
    position: absolute;
    left:50%;
    translate:-50%;
    bottom:25px;
    opacity: 1;
    transition: opacity .2s;
}

#slider-inicial-nav.collapsed{
    opacity:0;
    pointer-events: none;

}

#slider-inicial-descripciones {
    left:50%;
    margin:0px auto;
    box-sizing: border-box;
    padding:0px 0% 0px 0%;
}

#slider-inicial-descripciones dl {
    float:left;
    width:25%;
    box-sizing: border-box;
    padding:0px 10px 0px 10px;
    color:#fff;
    list-style: none;
    border-right:1px solid rgba(256, 256, 256, 0.5);
    cursor:pointer;
    margin-bottom:0px;
}

#slider-inicial-descripciones dl:last-child {
    border-right: none;
}

#slider-inicial-descripciones dt {
    font-family:latobold;
    margin:0px 0px 5px 0px;
    font-size:16px;
}

#slider-inicial-descripciones dd {
    font-family:latoregular;
    font-size:12px;
    margin:0px;
}

#slider-inicial-descripciones dl {
    transition:all 0.3s ease-in-out;
    color:rgba(256, 256, 256, 0.5)
}

#slider-inicial-descripciones dl.collapsed {
    transition:all 0.3s ease-in-out;
    color:#fff;
    text-shadow: 0px 0px 5px #fff;
}


.btn-spotlight{
    background-color:#fff;
    position: absolute;
    font-size:14px;
    border:none;
    font-family: latoblack;
    color:#00224a;
    padding:10px 30px 10px 30px;
    border-radius: 5px;
    z-index: 2;
    opacity: 0;
    letter-spacing: .5px;
    pointer-events: none;
    right:50px;
    top:-65px;
}

.btn-spotlight.collapsed{
    pointer-events: auto;
    opacity: 1;

}

.btn-spotlight:hover{
    color:#1787e9;
    -webkit-filter: drop-shadow( 0px 0px 6px rgb(255, 255, 255));
    filter: drop-shadow( 0px 0px 6px rgb(255, 255, 255));
}

.btn-spotlight.collapsed:hover{
    color:#1787e9;
    -webkit-filter: drop-shadow( 0px 0px 6px rgb(255, 255, 255));
    filter: drop-shadow( 0px 0px 6px rgb(255, 255, 255));
}



/*-----------FONDO--------------------------------------------------*/

#fondo_animado{
    width:100%;
    height: 100%;
    position: fixed;
    overflow: none; 
    background-color: #024C8D;
    animation-timing-function: ease-in-out;
    z-index: -1;
    background-image: url('../img/fondo.png');
    background-size:4000px;
    background-repeat: repeat;
    animation: fondo1 60s infinite linear;
    top:0px;
    left:0px;
}

@keyframes fondo1{
    0%{background-position:0px 0px; }
    100%{background-position:-4000px -4000px;}
}


#fondo_animado div{
    position: absolute;
    border-radius: 50%;
    background-color: #00224a;
    animation-timing-function: ease-in-out;
    display: none;
}


#cuadricula{
    width:200%;
    position: fixed;
    height:200%;
    left:-50%;
    top:-50%;
    opacity: .2;
    background-size: 20px 20px;
    background-image:
      linear-gradient(to right, rgb(20, 28, 70) 1.5px, transparent 1px),
      linear-gradient(to bottom, rgb(20, 28, 70) 1.5px, transparent 1px);
    background-repeat:  repeat;
    background-position: center;
    animation: rotatebg 100s infinite;
    animation-timing-function: linear;
    z-index: -1;
    overflow: hidden;
}


@keyframes rotatebg{
    0%{rotate: 0deg;}
    100%{rotate: 360deg;}
}


#transicion{
    width:200vw;
    height:200vh;
    background-color: #00224a;
    position: fixed;
    z-index: 2;
    top:0px;
    left:0px;
    opacity: 1;
    transition:all .75s .15s;
    pointer-events: none;
    background-size: 20px 20px;
    background-image:
      linear-gradient(to right, #00315c 1px, transparent .1px),
      linear-gradient(to bottom, #00315c 1px, transparent .1px);
      background-repeat:  repeat;
      background-position: center;
    animation: rotatebg 100s infinite;
    left:-50%;
    top:-50%;
    
}


#transicion.collapsed{
    transition:all .3s 0s;
    opacity:1;
}


/*------------BUSQUEDA--------------------------------------------------*/




#buscador{
    position: fixed;
    width:100%;
    padding:20px 0px 0px 0px;
    bottom:80px;
    transition: bottom .5s;
}

#buscador.collapsed{
    bottom:calc(100vh - 200px);

}


#busqueda{
        position: relative;
        background-color:#ececec;
        color: #00224a;
        border:none;
        font-size:13px;
        font-family: latoregular;
        padding:15px 10px 15px 10px;
        width:50vw;
        margin-bottom:20px;
        letter-spacing: .5px;
        caret-color: #1787e9;
        display: block;
        margin: 0 auto;
        cursor:text;
    }



#busqueda::placeholder {
        color: rgba(0, 0, 0, 0.75);
    }
    
    
#categorias{
    position: relative;
    display: block;
    margin: 0 auto;
    width: fit-content;
    padding:15px 0px 0px 0px;

}


.categoria1{
    padding:7px 15px 7px 15px;
    color:#57DEFF;
    display: inline-block;
    border-radius: 50px;
    margin: 0px 2px 0px 2px;
    border: 1px solid #57DEFF;
    cursor: pointer;
    opacity: 0.8;
}

.categoria1:hover{
    opacity: 1;
    -webkit-filter: drop-shadow( 0px 0px 5px rgba(123, 255, 248, 1));
    filter: drop-shadow( 0px 0px 5px rgba(123, 255, 248, 1));

}
.categoria2{
    padding:7px 15px 7px 15px;
    color:#00224a;
    background-color:#57DEFF;
    display: inline-block;
    border-radius: 50px;
    margin: 0px 2px 0px 2px;
    border: 1px solid #57DEFF;
    cursor: pointer;
    opacity: 0.8;
}










/*-----------FILA--------------------------------------------------*/





.titulo_fila{
    color: #fff;
    font-size: 14px;
    font-family: latoblack;
    letter-spacing: 1px;
    display: inline-block;
    text-align: left;
    padding: 0px 5px 10px 35px;
    text-transform: uppercase;
    text-shadow:1px 1px 2px #000;

}

#fila {
    width:100%;
    box-sizing: border-box;
    padding:0px 0% 50px 0%;
    position:fixed;
    overflow:show;
    margin:0 auto;
    clear:both;
    bottom:-150px;
    transition: all .5s;
    cursor: pointer;
    opacity:0.8;
}

#fila:hover{
    opacity:1;
}

#fila.collapsed{
    bottom:calc(100vh - 440px);
    cursor: inherit;
    opacity:1;

}

#slider-fila{
    pointer-events: none;
}

#slider-fila.collapsed{
    pointer-events: inherit;
}




.fila-seccion {
    background-color: #c5dbe9;
}

#fila article {
    margin:0 auto;
    width:100%;
    position: relative;
}

.fila-slider {
    width:20%;
    padding:0% 3% 0% 3%;
    position:relative;
    box-sizing: border-box;
    transition:opacity 0.2s ease-in-out;
    opacity:0.8;
}

.fila-slider div a{
    width:100%;
    height:100%;
    position: absolute;
    cursor: pointer;
}


.fila-slider:hover {
    opacity:1;
}

.fila-slider div {
    width:100%;
    padding-bottom:60%;
    position:relative;
    overflow:hidden;
    cursor: pointer;

}


.fila-slider div div{
    width:100%;
    position: absolute;
    height: 100%;
    background-image:url(../img/mascara_spotlight.png);
    background-size: 100% 50%;
    background-blend-mode: multiply;
    mix-blend-mode: multiply;
}






.fila-slider button {
    transition:transform 0.2s ease-in-out;
    transition:opacity 0.2s ease-in-out;
    position:absolute;
    left:52%;
    top:50%;
    transform: translate(-50%, -50%);
    width:11%;
    padding-bottom:12%;
    background-color:rgba(256, 256, 256, 0.5);
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    z-index:10;
    border:0px;
    cursor: pointer;
    opacity:0.0;
    background-repeat: no-repeat;
    background-position: center;
}

.fila-slider button:focus {
    outline: none;
}

.fila-slider:hover button {
    opacity:1;
}

.fila-slider div img {
    position:absolute;
    height:110%;
    left:50%;
    top:50%;
    translate: -50% -50%;
}

.fila-slider dl {
    width: 100%;
    height: 100%;
    list-style: none;
    box-sizing: border-box;
    display: block;
    color: #fff;
    text-align: center;
    bottom: 0px;
    right: 0px;
    position: absolute;
    pointer-events: none;
}

.fila-slider dl dt {
    position: absolute;
    font-family:latobold;
    margin:0px;
    text-align:right;
    font-size:16px;
    bottom:10px;
    right:20px;
    padding: 0px 0px 0px 15px;
    text-shadow: 1px 1px 3px #000;

}

.fila-slider dl dd {
    position: absolute;
    font-family:latoregular;
    font-size:11px;
    text-align:left;
    margin:0px;
    top:10px;
    left:20px;
    text-shadow: 1px 1px 3px #000;
}

#flecha-izquierda-slider-fila {
    transition: all 0.1s ease-in-out;
    cursor:pointer;
    height: calc(100% - 2px);
    left:0px;
    position:absolute;
    width:50px;
    top:0px;
    background-size:20%;
    background-color:rgba(0, 34, 74, 0.65);
    background-image: url('../icon/flecha-slider-fila-i.png');
    background-repeat: no-repeat;
    background-position: center;
    opacity:0.0;
}

#flecha-derecha-slider-fila {
    transition: all 0.1s ease-in-out;
    cursor:pointer;
    height: calc(100% - 2px);
    width:50px;
    right:0px;
    position:absolute;
    top:0px;
    background-size:20%;
    background-color:rgba(0, 34, 74, 0.65);
    background-image: url('../icon/flecha-slider-fila-d.png');
    background-repeat: no-repeat;
    opacity:0.0;
    background-position: center;
}


#slider-fila:hover ~ #flecha-derecha-slider-fila{
    opacity:0.5;

}

#slider-fila:hover ~ #flecha-izquierda-slider-fila{
    opacity:0.5;

}

#flecha-derecha-slider-fila:hover {
    opacity:1;
}

#flecha-izquierda-slider-fila:hover {
    opacity:1;
}

/* -------------- FORMULARIO LOGIN Y REGISTRO ----------------------------- */

form{
}

::placeholder {
    color: rgba(256, 256, 256, 0.8);
}

.form h3{
    font-family: latobold;
    font-size:16px;
    letter-spacing: 1px;
    line-height: 1px;
}

.form form{
    padding:35px 0px 0px 0px;

}




.form-login, .form-register {
    position: absolute;
    width:50%;
    background-image: url('../img/fondo-oscuro.png');
    background-size:3000px;
    background-repeat: repeat;
    top:50%;
    left:50%;
    translate: -50% -50%;
    text-align: center;
    padding:90px 0px 0px 0px;
    animation: fondo 60s infinite linear;
    
}


@keyframes fondo{
    0%{background-position:0px 0px; }
    100%{background-position:3000px -3000px;}
}

.form-register {
    padding:90px 0px 50px 0px;
}

.form form input{
    background-color:initial;
    color:#fff;
    border:none;
    font-size:14px;
    font-family: latolight;
    padding:5px 5px 10px 5px;
    border-bottom:1px solid #fff;
    width:200px;
    margin-bottom:20px;
    letter-spacing: .5px;
}

.form-register div input{
    background-color:initial;
    color:#fff;
    border:none;
    font-size:14px;
    font-family: latolight;
    padding:5px 5px 10px 5px;
    border-bottom:1px solid #fff;
    width:322px;
    margin-bottom:20px;
    letter-spacing: .5px;
}
.form div.form-mid input{

    width:150px;
    margin: 0px 5px 20px 5px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px rgba(0, 0, 0, .0);
}
.p-boton{
    color: #57DEFF;
    font-family: latobold;
    margin-bottom:50px;
    opacity: .9;
    display: inline-block;
    font-size:13px;
    transition: all 0.1s ease-in-out;
}

.form p.p-texto{
    color: #fff;
    font-family: latolight;
    margin-bottom:5px;
    font-size:14px;
}
.form form p{
    color: #57DEFF;
    font-family: latolight;
    margin-bottom:30px;
    font-size:13px;
}

.p-boton:hover{
    opacity: 1;
    -webkit-filter: drop-shadow( 0px 0px 3px rgba(123, 255, 248, 1));
    filter: drop-shadow( 0px 0px 3px rgba(123, 255, 248, 1));
}


.form form button{
    background-color:#fff;
    font-size:15px;
    border:none;
    font-family: latoblack;
    color:#00224a;
    margin-bottom:30px;
    padding:10px 30px 10px 30px;
    display: inline-block;
    border-radius: 5px;

}

.form form button:hover{
    color:#1787e9;
    opacity: 1;
    -webkit-filter: drop-shadow( 0px 0px 6px rgb(255, 255, 255));
    filter: drop-shadow( 0px 0px 6px rgb(255, 255, 255));
}

.form-register form button{
    margin:40px 0px 0px 0px;
    
}
.form-logout{
    top: 0px;
}

.form button{
    background-color: #c5dbe9;
}


#flecha_izquierda{
    height: 14px;
    float: left;
    margin: 2px 7px 0px 0px;
}

#sigue_explorando{
    position: fixed;
    top:35px;
    left:45px;
    opacity: 0.8;
    transition: all 0.1s ease-in-out;
}

#sigue_explorando:hover{
    opacity: 1;
    -webkit-filter: drop-shadow( 0px 0px 6px rgb(255, 255, 255));
    filter: drop-shadow( 0px 0px 6px rgb(255, 255, 255));

}

#sigue_explorando h6{
float: left;
}


/* .form-login, .form-register{
    opacity: 0;
    animation: aparecer .5s 1 ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes aparecer{
    0%{    opacity: 0;}
    100%{    opacity: 1;}
}
*/


/* -------------- NAVBAR ----------------------------- */

.main-nav{
    position: fixed;
    right: 50px;
    z-index: 3;
    top:25px;
    display: inline-block;
}


.main-nav div{
    z-index: 1;
    text-align: right;
    float:right;
}


.main-nav div p{
    text-align: right;
}

#iniciarsesion{
    transition: all 0.2s ease-in-out;
    opacity: .8;
}


#iniciarsesion:hover{
    opacity: 1;
    -webkit-filter: drop-shadow( 0px 0px 5px rgba(123, 255, 248, 1));
    filter: drop-shadow( 0px 0px 5px rgba(123, 255, 248, 1));
}

#iniciarsesion h6{
    float:left;
    padding:10px 15px 0px 0px;
    letter-spacing: 1px;
}

#amp_off{
    float:right;
    width: 30px;
}

#menudesplegabe{
    background-color: #024C8D;
    position: absolute;
    transform: scale(0);
    translate: -191px 19px;
    transform-origin: 210px 0px;
    width:210px;
    transition: all 0.3s ease-in-out;
    opacity:1;
    z-index: 10;
}

#menudesplegabe.collapsed{
    transform: scale(1);
}



.main-nav li{
    list-style: none;
    font-size:16px;
    
}
.main-nav a{
    float: right;
}

.main-nav ul a{
    float: right;
    width: 100%;
    background-color: #024C8D;
    box-sizing: border-box;
    transition: background-color 0.1s ease-in-out;
    text-align: right;
    padding: 15px 15px 15px 35px;

}

.main-nav ul a.barracolor{
    float: right;
    width: 100%;
    background-color: #0f61a8;
    box-sizing: border-box;
    transition: background-color 0.1s ease-in-out;
    text-align: right;
}


.main-nav ul a.botonvideo{
    float: right;
    width: 100%;
    background-color: #08CD97;
    box-sizing: border-box;
    transition: background-color 0.1s ease-in-out;
    color: #024C8D;
    text-align: right;
}

.main-nav ul a:hover{
    background-color: #1787e9;

}

.main-nav ul a.botonvideo:hover{

    background-color: #0bf7b8;

}

.main-nav button{
    float: right;
}

.btn-busqueda{
    
}


#btn-menu {
    padding: 19px;
    margin: 0px 10px 0px 0px;
    width: 18px;
    height: 18px;
    background-position: 50% 50%;
    background-size: 16px 16px;
    transition: all 0.3s ease-in-out;
    opacity: .8;
    background-image: url(../icon/menu.svg);

}

#btn-menu.collapsed{
    background-color: #024C8D;
    background-size: 13px 13px;
    background-image: url(../icon/equis.svg);

}


#btn-menu:hover{
    opacity: 1;
    -webkit-filter: drop-shadow( 0px 0px 5px rgba(123, 255, 248, 1));
    filter: drop-shadow( 0px 0px 5px rgba(123, 255, 248, 1));
}

#btn-busqueda {
    padding: 19px;
    width: 18px;
    height: 18px;
    background-position: 50% 50%;
    background-size: 18px 18px;
    transition: all 0.3s ease-in-out;
    opacity: .8;
    background-image: url(../icon/lupa.svg);
}


#btn-busqueda:hover{
    opacity: 1;
    -webkit-filter: drop-shadow( 0px 0px 5px rgba(123, 255, 248, 1));
    filter: drop-shadow( 0px 0px 5px rgba(123, 255, 248, 1));
}
#btn-perfil{
    float:right;
    display: inline-block;
    padding:2px 10px 0px 0px;
    min-width:95px;
}

#btn-perfil h6{
    float: right;
    opacity: 1;
    font-size:15px;
}



#verperfil{
    transition: all 0.1s ease-in-out;
    opacity: .8;
}

#verperfil p{
    color:#57DEFF;
}

#verperfil:hover{
    opacity: 1;
    -webkit-filter: drop-shadow( 0px 0px 5px rgba(123, 255, 248, 1));
    filter: drop-shadow( 0px 0px 5px rgba(123, 255, 248, 1));
}


#deslogin{
    opacity: .8;
    transition: all 0.1s ease-in-out;
    color:#57DEFF;
}

#deslogin:hover{
    opacity: 1;
    -webkit-filter: drop-shadow( 0px 0px 5px rgba(123, 255, 248, 1));
    filter: drop-shadow( 0px 0px 5px rgba(123, 255, 248, 1));
}


#amp_on{
    transition: all 0.1s ease-in-out;
    opacity: .8;
    -webkit-filter: drop-shadow( 0px 0px 5px rgba(123, 255, 248, .5));
    filter: drop-shadow( 0px 0px 5px rgba(123, 255, 248, .5));
}

#amp_on:hover{
    opacity: 1;
    -webkit-filter: drop-shadow( 0px 0px 5px rgba(123, 255, 248, 1));
    filter: drop-shadow( 0px 0px 5px rgba(123, 255, 248, 1));
}


/* ------------- BLOCK CONTENT - MAIN --------------- */




/* -------------------- _CURSO_ ------------------ */

#img-curso-cont{
    position: absolute;
    margin-top: 0px;
    width: 100%;
    height:calc(100% - 70px);
    overflow: hidden;
    z-index: -1;
    background-color: #000;
    
}

.img-curso{
    position: absolute;
    width: 120%;
    left: 50%;
    top:50%;
    translate: -50% -40%;
}


#curso-fila {

}

#curso-fila #fila{
    position: absolute;
    width:1080px;
    height:auto;
    padding:0px;
    bottom:100px;
    left: 50%;
    translate: -50% 0%;
}

#mascara_curso{
    top:-2px;
    background-image:url(../img/mascara_spotlight.png);
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-blend-mode: multiply;
    mix-blend-mode: multiply;
    width:100%;
    height:calc(100% - 68px);
    position: absolute;
    pointer-events: none;

}

#curso-info1{
    width:1080px;
    left:50%;
    translate:-50% 0;
    position: absolute;
    bottom: 270px;
    text-align: left;
    opacity: 1;
    transition: all .5s;
}


#curso-info1.collapsed{
 opacity: 0;

}

#curso-info1 h1{
    text-transform: uppercase;
    font-family: latoblack;
    display: inline-block;
    margin-bottom:10px;
}

#curso-info1 p{
    width:60%;
    font-size:13px;
    border-top:1px solid #fff;
    padding-top:10px;
    margin-top:10px;
    user-select: text;
}

#curso-info1 ul{
    list-style: none;
    font-size:13px;
    

}

#curso-info1 ul li{
    display: inline-block;

}
#curso-info1 ul li img{
    display: inline-block;
    float:left;
    height:18px;
    margin-right:5px;

}

#curso-info1 ul li h4{
    display: inline-block;
    margin-right:10px;
    float:left;
    line-height: 20px;

}



.btn-curso{
    position: absolute;
    background-color:#fff;
    font-size:14px;
    border:none;
    font-family: latoblack;
    color:#00224a;
    padding:10px 30px 10px 30px;
    border-radius: 5px;
    z-index: 2;
    bottom:0px;
    right:0px;
    letter-spacing: .5px;
}

.btn-curso:hover{
    color:#1787e9;
    -webkit-filter: drop-shadow( 0px 0px 6px rgb(255, 255, 255));
    filter: drop-shadow( 0px 0px 6px rgb(255, 255, 255));
}

#btn-curso1{
    right:170px;

}

#btn-curso2{
    
}


.brillover{
    -webkit-transition: opacity .3s;
}


.brillover:hover{
    opacity: 1;
    -webkit-filter: drop-shadow( 0px 0px 5px rgba(123, 255, 248, 1));
    filter: drop-shadow( 0px 0px 5px rgba(123, 255, 248, 1));
}


#mas-info, #mas-info-cap{
    position: absolute;
    bottom:10px;
    left:50%;
    translate: 0% -50%;
    opacity: 0.8;
    transition: all .5s;
    
}

#mas-info.collapsed, #mas-info-cap.collapsed{
    opacity:0;
    pointer-events: none;
}

#mas-info img, #mas-info-cap img{
    height:20px;
    position: relative;

}

#contenido-curso1{
    position: fixed;
    width:100%;
    height:100%;
    display: inline-block;
    transition: all .75s;
    top:0px;
}


#contenido-curso1.collapsed{
    top: calc(-100vh + 320px);
    cursor: pointer;
}
/* ------------- PLAYER --------------- */

.tsc-smartplayer .player-controls {
    background: rgb(00,0,0);
background: linear-gradient(0deg, rgba(0,0,0,.5) 0%, rgba(0,0,0,0) 100%);
}
 
.tsc-smartplayer .video-controls-container{
    overflow: visible;
    opacity: 1;
}
 
.tsc-smartplayer .progress-bar-control .progress-scrubbar-track .progress-bar-chapter .scrubbar-played-track{
    background-color: rgb(0, 225, 255);
}
 
.tsc-smartplayer .progress-bar-control .progress-scrubbar-track .progress-bar-chapter .scrubbar-background-track{
 
}
.tsc-smartplayer .progress-bar-control .progress-scrubbar-track .progress-bar-chapter .scrubbar-loaded-track{
    background-color: rgb(67, 87, 151);
 
}
 
.tsc-smartplayer .progress-bar-control .progress-scrubbar-track .progress-bar-chapter .scrubbar-seek-hint-track{
    background-color: rgb(103, 140, 197);
}
 
 
.tsc-smartplayer .play-pause-state {
    background-color: rgb(0, 225, 255);
}
 
.tsc-smartplayer .media-wrapper {
 pointer-events: none;
}

#tscVideoContent{
    width: 100%;
    height:calc(100% - 145px);
    transition: all .75s;
    top:75px;
}


#tscVideoContent.collapsed{
    top:calc(-100% + 260px);
    cursor: pointer;

}

#tscVideoContent .play-button-overlay-glyph{
    position: absolute;
    background-color:#fff;
    font-size:14px;
    border:none;
    font-family: latoblack;
    color:#00224a;
    border-radius: 5px;
    z-index: 2;
    letter-spacing: .5px;
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
    padding:10px 30px 10px 30px;
    box-sizing: border-box;
    text-transform: uppercase;
    pointer-events: auto;
    top: auto;
    bottom:60px;
    left:100px;
    margin:0px;
    -webkit-transition: all .3s;
    opacity: 1;
}

#tscVideoContent .play-button-overlay-glyph::before {
    content:"COMENZAR";
}

#tscVideoContent.collapsed .play-button-overlay-glyph{
    opacity:0;
}




.tsc-smartplayer .play-button-overlay-glyph:hover{
    color:#1787e9;
    -webkit-filter: drop-shadow( 0px 0px 6px rgb(255, 255, 255));
    filter: drop-shadow( 0px 0px 6px rgb(255, 255, 255));
}


#tscVideoContent .play-button-overlay-glyph{
}



.tsc-smartplayer .video-click-to-play-link, .tsc-smartplayer .video-click-to-replay-link {
    background-size: 110%;
    pointer-events: none;
    box-shadow: inset 0 -100px 1000px #000000;
}

.btn-capitulo{
    position: absolute;
    background-color:#fff;
    font-size:14px;
    border:none;
    font-family: latoblack;
    color:#00224a;
    padding:10px 30px 10px 30px;
    border-radius: 5px;
    z-index: 1;
    bottom:130px;
    left: 280px;
    letter-spacing: .5px;
    opacity: 1;
    -webkit-transition: all .2s, bottom .75s;
}


#btn-capitulo-out{
    opacity:1;
}


.btn-capitulo:hover{
    -webkit-filter: drop-shadow( 0px 0px 6px rgb(255, 255, 255));
    filter: drop-shadow( 0px 0px 6px rgb(255, 255, 255));
}

#btn-capitulo-out.collapsed{
    opacity:0;
    bottom: calc(100vh - 10px);
}
#btn-capitulo-out.collapsed2{
    opacity:0;
    pointer-events: none;
}

#cap-banner-top{
    position: absolute;
    width:100%;
    height:80px;
    z-index: 1;
    box-sizing: border-box;
    padding: 32px 0px 0px 250px;
    top:0px;
    pointer-events: none;
    opacity: 1;
    -webkit-transition: all .3s;
}

#cap-banner-top.collapsed{
    opacity: 0;

    }

#cap-banner-top h3{
    position: absolute;
    width:100%;
    height:80px;
    z-index: -1;
    box-sizing: border-box;
    font-size:16px;
    font-family: latolight;
    text-transform: uppercase;
    letter-spacing: .5px;
}



#info-cap-player{
    position:fixed;
    text-shadow:2px 2px 3px rgba(0, 0, 0, 0.75);
    bottom:200px;
    left:100px;
    width:35%;
    -webkit-transition: all .2s, bottom .75s;
}


#info-cap-player h4{
    margin-top:10px;

}


#info-cap-player.collapsed{
    opacity:0;
    bottom: calc(100vh - 10px);
}

#info-cap-player.collapsed2{
    opacity:0;
}


#info-cap-full{
    width: 100%;
    position: fixed;
    bottom: -100vh;
    pointer-events: none;
    -webkit-transition: all .2s, bottom .75s;
    left: 0px;
}

#info-cap-full.collapsed{
    bottom: 0px;

}

#info-cap-full section{
    position: relative;
    margin:0 auto;
    height: calc(100vh - 150px);
    display: table;
    pointer-events: none;

}


#info-cap-img{
    position: relative;
    width: 300px;
    height: 100%;
    display: inline-block;
    overflow: hidden;
}

#info-cap-img img{
    position: absolute;
    left:50%;
    height:100%;
    top:50%;
    translate: -40% -50%;

}
#info-cap-info{
    position: relative;
    width: 600px;
    height: 100%;
    display: inline-block;
    overflow: hidden;
    pointer-events: inherit;
    padding:50px;
    box-sizing: border-box;
}




/* ALERTAs */
.alert{
    position: fixed;
    width:100%;
    height:100%;
    z-index: 5;
    -webkit-transition: opacity 1s;
    opacity: 1;
    animation: cierre-alerta 1s forwards ease;
    animation-delay: 1s;
    background-color: rgba(0, 0, 0, 0.5);
}

.alert.collapsed{
    animation-delay: 0s;
}
@keyframes cierre-alerta{
    0%{    opacity: 1;    }
    100%{    opacity: 0; pointer-events: none;}
}




.alert div{
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    background-color: #005c99;
    background-image: url(../img/fondo.png);
    background-size: 2000px;
    background-repeat: repeat;
    animation: fondoventana 60s infinite linear;
    display: inline-block;
    box-sizing: border-box;
    padding: 60px;
}

.alert strong{
    padding: 50px;
}

.alert button{
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0px;
    top: 0px;
}




@keyframes fondoventana{
    0%{background-position:0px 0px; }
    100%{background-position:-2000px -2000px;}
}

.alerta_registro{
    padding:0px 0px 10px 0px;
    color:rgb(255, 61, 61);
    animation: mallog .3s forwards ease;
    font-family:latolight;
}
@keyframes mallog{
    0%{opacity:0;}
    100%{opacity:1;}
}




/*-----------RESPONSIVIDAD 1280px--------------------------------------------------*/
@media (max-width: 1400px) {
    /*-----------SLIDER INICIAL------------------------------------------------------------*/

}

/*-----------RESPONSIVIDAD 1280px--------------------------------------------------*/
@media (max-width: 1280px) {
}

/*-----------RESPONSIVIDAD 1100px------------------------------------------------*/
@media (max-width: 1110px) {
}

/*-----------RESPONSIVIDAD 900px------------------------------------------------*/

@media (max-width: 900px) {
    /*-----------SLIDER INICIAL-------------------------------------------------*/
    #slider-inicial div img {
        margin-top:0%;
    }

}

/*-----------RESPONSIVIDAD 760px------------------------------------------------*/
@media (max-width: 760px) {



    /*-----------SLIDER INICIAL-----------------------------------------------*/
    #slider-inicial div {
        height:75%;
    }

    #slider-inicial-descripciones {
        padding:5px 20px 40px 20px;
    }

    #slider-inicial-descripciones dd {
        display:none;
    }

    #slider-inicial-descripciones dl {
        clear:both;
        width:100%;
        border-bottom:1px solid #999;
        border-right:0px;
        padding:7px 15px 10px 15px;
        margin-bottom:4px;
        position:absolute;
        border:0px;
        color:#005c99;
        opacity:0;
    }


    #slider-inicial-descripciones dl.collapsed {
        clear:both;
        opacity:1;
    }


    #slider-inicial-descripciones dl:last-child {
        border-bottom:0px;

    }

    #slider-inicial-descripciones dt {
        font-size:15px;

    }  



}

/*-----------RESPONSIVIDAD 465px------------------------------------------------*/
@media (max-width: 480px) {


}






    /*-----------SLICKER----------------------------------------*/
    /* Slider */
    .slick-loading .slick-list
    {
        background: #fff url('../icon/ajax-loader.gif') center center no-repeat;
    }
    
    
    /* Arrows */
    .slick-prev,
    .slick-next
    {
        font-size: 0;
        line-height: 0;
    
        position: absolute;
        top: 50%;
    
        display: block;
    
        width: 20px;
        height: 20px;
        padding: 0;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
    
        cursor: pointer;
    
        color: transparent;
        border: none;
        outline: none;
        background: transparent;
    }
    .slick-prev:hover,
    .slick-prev:focus,
    .slick-next:hover,
    .slick-next:focus
    {
        color: transparent;
        outline: none;
        background: transparent;
    }
    .slick-prev:hover:before,
    .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before
    {
        opacity: 1;
    }
    .slick-prev.slick-disabled:before,
    .slick-next.slick-disabled:before
    {
        opacity: .25;
    }
    
    .slick-prev:before,
    .slick-next:before
    {
        font-family: 'slick';
        font-size: 20px;
        line-height: 1;
    
        opacity: .75;
        color: white;
    
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    .slick-prev
    {
        left: -25px;
    }
    [dir='rtl'] .slick-prev
    {
        right: -25px;
        left: auto;
    }
    .slick-prev:before
    {
        content: '←';
    }
    [dir='rtl'] .slick-prev:before
    {
        content: '→';
    }
    
    .slick-next
    {
        right: -25px;
    }
    [dir='rtl'] .slick-next
    {
        right: auto;
        left: -25px;
    }
    .slick-next:before
    {
        content: '→';
    }
    [dir='rtl'] .slick-next:before
    {
        content: '←';
    }
    
    /* Dots */
    .slick-dotted.slick-slider
    {
        margin-bottom: 30px;
    }
    
    .slick-dots
    {
        position: absolute;
        bottom: -25px;
    
        display: block;
    
        width: 100%;
        padding: 0;
        margin: 0;
    
        list-style: none;
    
        text-align: center;
    }
    .slick-dots li
    {
        position: relative;
    
        display: inline-block;
    
        width: 20px;
        height: 20px;
        margin: 0 5px;
        padding: 0;
    
        cursor: pointer;
    }
    .slick-dots li button
    {
        font-size: 0;
        line-height: 0;
    
        display: block;
    
        width: 20px;
        height: 20px;
        padding: 5px;
    
        cursor: pointer;
    
        color: transparent;
        border: 0;
        outline: none;
        background: transparent;
    }
    .slick-dots li button:hover,
    .slick-dots li button:focus
    {
        outline: none;
    }
    .slick-dots li button:hover:before,
    .slick-dots li button:focus:before
    {
        opacity: 1;
    }
    .slick-dots li button:before
    {
        font-family: 'slick';
        font-size: 6px;
        line-height: 20px;
    
        position: absolute;
        top: 0;
        left: 0;
    
        width: 20px;
        height: 20px;
    
        content: '•';
        text-align: center;
    
        opacity: .25;
        color: black;
    
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .slick-dots li.slick-active button:before
    {
        opacity: .75;
        color: black;
    }
    
    /* Slider */
    .slick-slider
    {
        position: relative;
    
        display: block;
        box-sizing: border-box;
    
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
    
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -ms-touch-action: pan-y;
            touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
    }
    
    .slick-list
    {
        position: relative;
    
        display: block;
        overflow: hidden;
    
        margin: 0;
        padding: 0;
    }
    .slick-list:focus
    {
        outline: none;
    }
    .slick-list.dragging
    {
        cursor: pointer;
        cursor: hand;
    }
    
    .slick-slider .slick-track,
    .slick-slider .slick-list
    {
        -webkit-transform: translate3d(0, 0, 0);
           -moz-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
             -o-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
    
    .slick-track
    {
        position: relative;
        top: 0;
        left: 0;
    
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .slick-track:before,
    .slick-track:after
    {
        display: table;
    
        content: '';
    }
    .slick-track:after
    {
        clear: both;
    }
    .slick-loading .slick-track
    {
        visibility: hidden;
    }
    
    .slick-slide
    {
        display: none;
        float: left;
    
        height: 100%;
        min-height: 1px;
    }
    [dir='rtl'] .slick-slide
    {
        float: right;
    }
    .slick-slide img
    {
        display: block;
    }
    .slick-slide.slick-loading img
    {
        display: none;
    }
    .slick-slide.dragging img
    {
        pointer-events: none;
    }
    .slick-initialized .slick-slide
    {
        display: block;
    }
    .slick-loading .slick-slide
    {
        visibility: hidden;
    }
    .slick-vertical .slick-slide
    {
        display: block;
    
        height: auto;
    
        border: 1px solid transparent;
    }
    .slick-arrow.slick-hidden {
        display: none;
    }
    
